@import "../../../variables.scss";

.statusUpdate {
  background-color: white;
  max-width: 694px;
  min-width: 694px;
  height: fit-content;
  padding: 10px 10px;
  left: calc(50vw - 350px);
  border: 1px solid $borderColor;
  border-radius: 6px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
  margin-bottom: 20px;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    overflow: scroll;
  }
}

.statusUpdate--bannerMargin {
  margin-top: 262px !important;
}

.statusUpdate__field {
  border-style: none;
  border: none;
  width: 100%;
  font-size: 1.1em;
  background-color: rgb(255, 255, 255);
  height: 44px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #a8a8a8;
  }
}

.statusUpdate__displayPublic {
  width: 100%;
  font-size: 1.1em;
  min-height: 44px;
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  word-break: break-all;
}

.statusUpdate:hover .hideStatusButton {
  display: block;
}

.hideStatusButton {
  display: none;
}

.statusUpdate__button {
  margin: 0 20px 0 10px;
  background: transparent;
  color: $faintFont;
  padding: 0;
  transition: color .8s ease;
  border: none;

  &:hover {
    background: transparent;
  }
}

.statusUpdate__button--remove {
  &:hover {
    color: $threeBoxRed;
  }
}

.statusUpdate__button--cancel {
  &:hover {
    color: $lightFont;
  }
}

.statusUpdate__button--save {
  &:hover {
    color: $threeBoxGreen;
  }
}

.statusUpdate__loading {
  background: white;

  width: 700px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
  }
}

#feed {
  max-width: calc(694px + 20px) !important;
  min-width: calc(694px + 20px) !important;
  left: calc(50vw - 350px);
  margin-top: 18px;
  min-height: 610px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  justify-content: space-between;
  margin-left: 13px;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    overflow: scroll;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  opacity: .6;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  transform: translateX(23px);
}

.wall_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wall_header_options {
  padding: 10px 0 10px 10px;
}

.wall_header_options_icon {
  opacity: .3;
}

.wall_header_optionsWrapper {
  position: relative;
}

.wall_header_menu {
  position: absolute;
  width: 180px;
  height: 100px;
  background-color: white;
  padding: 12px 16px;
  box-sizing: border-box;

  transition: transform ease 0.9s, opacity ease 0.1s;
  transform: translateY(-4px);
  top: 24px;
  right: 0;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #00000025;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-14px);
  transition: all 0.3s ease-in-out 0s,
    visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  z-index: 1;

  h5 {
    margin-bottom: 20px;
    font-size: 15px;
  }

  p {
    font-size: 13px;
    color: $lighterFont;
    margin-right: 16px;
  }
}

.wall_header_menu.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.wall_header_menu_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.feed_content_headers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 20px 0;
}

.feed_content_button {
  transition: 0 all ease-in-out;
  margin-right: 12px;

  &:hover {
    background-color: $backgroundGreyDark;
  }
}

.feed_content_headers_tab {
  font-size: 18px;
  line-height: 24px !important;
  color: #747677;
  font-weight: 400;
  padding: 6px 12px;
  display: flex;
}

.feed_content_active {
  background-color: $backgroundGreyDark;
}

#myFeed {
  max-width: calc(694px + 20px) !important;
  min-width: calc(694px + 20px) !important;
  left: calc(50vw - 350px);
  margin-top: 190px;
  min-height: 610px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  justify-content: space-between;
  margin-left: 13px;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    overflow: scroll;
  }
}

.collectibles {
  max-width: calc(694px + 20px) !important;
  min-width: calc(694px + 20px) !important;
  left: calc(50vw - 350px);
  margin-top: 18px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: space-between;
  margin-left: 13px;
}

.profile__details {
  padding: 0 !important;
  max-width: calc(694px + 2.6em) !important;
  min-width: calc(694px + 2.6em) !important;
  background-color: white;
  border: solid 1px $borderColor;
  border-radius: 6px;
}

.feed__activity__user {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  object-fit: cover;
  margin-right: 15px;
  background-color: $threeBoxBlue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed__activity__spaceIcon {
  width: 20px;
}

.feed__activity__userWrapper {
  position: relative;
}

.feed__activity__threeBoxEmblem {
  background-color: $threeBoxBlue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -4px;
  right: 14px;
}

.clear {
  background-color: transparent !important;
}

.collectiblesHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: 18px;
    line-height: 24px !important;
    color: $lighterFont;
    font-weight: 400;
    margin: 0;
  }
}

.followingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 24px !important;
  color: $lighterFont;
  font-weight: 400;
  padding: 20px 20px 14px 20px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 6px;
  width: 100%;

  p {
    font-size: 18px;
    line-height: 24px !important;
    color: $lighterFont;
    font-weight: 400;
    margin: 0;
  }
}

.followingHeader_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.followingHeader_warning {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    margin-right: 14px;
  }
}

.followingHeader_warning_text {
  line-height: 24px !important;
  color: $lightestFont !important;
  font-weight: 400;
  margin-bottom: 6px;
  display: flex;
  font-size: 13px !important;
}

#feed__header {
  font-size: 18px;
  line-height: 24px !important;
  color: $lighterFont;
  font-weight: 400;
  margin-bottom: 6px;
  padding: 20px 0 14px 20px;
  display: flex;
}

.feed__activity__tile {
  margin-bottom: 16px;
  border: 1px solid $borderColor;
  padding: 15px;
  width: 684px;
  border-radius: 6px;
  background-color: white;
}

.feed__activity__info__key {
  min-width: fit-content;
  margin-right: 4px;
}

.feed__activity__info__token {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 800;
  margin-right: 6px;
}

.sentCurrency {
  color: #ca2641 !important;
}

.receivedCurrency {
  color: #22bd6f !important;
}

.feed__activity__info__value {
  font-weight: 500;
  max-width: 52%;
  word-wrap: break-word;
  font-weight: 800;
  margin-right: 6px;
}

.feed__activity__info__key--space {
  font-weight: 500;
  max-width: 52%;
  word-wrap: break-word;
  font-weight: 800;
}

.feed__activity__info__value--space {
  font-weight: 500;
  max-width: 52%;
  word-wrap: break-word;
  font-weight: 800;
}

.feed__activity__data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.feed__activity__address__amount__emoji {
  height: 34px;
  margin-left: 6px;
  font-size: 24px;
  padding-top: 6px;
}

.feed__activity__context {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
  padding: 0;

  &:hover h4 {
    text-decoration: underline;
  }
}

.feed__activity__context__network {
  min-width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
}

.logo__icon {
  width: 2.1em;
  height: 2.1em;
  border-radius: 4px;
  background-color: #006ECC;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700;
  }
}

.feed__activity__image {
  border-radius: 6px;
  min-width: 654px;
  width: 654px;
  margin: 0;
  object-fit: cover;
  background-color: $defaultProfPic;
  margin-top: 20px;
}

.logo__icon--footer {
  width: 2.1em;
  height: 2.1em;
  border-radius: 4px;
  background-color: #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700;
  }
}

.feed__footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.feed__activity__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    margin-bottom: .2em;
    color: $threeBoxBlue;
  }

  p {
    color: $lighterFont;
  }
}

.feed__activity__text {
  width: 96%;
}

.feed__activity__info__method {
  font-weight: 600;
}

.feed__activity__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h4 {
    margin-bottom: .2em;
  }

  p {
    color: $lighterFont;
  }
}

.feed__activity__address__type {
  color: $lightestFont !important;
  font-size: 13px;
}

.feed__activity__data__icon {
  width: 24px;
  min-width: 24px;
  margin-right: 16px;
  height: 25px;
}

.feed__activity__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80%;
  width: 80%;
  padding-top: 3px;

  div {
    width: 24px;
    min-width: 24px;
    margin-right: 18px;
    min-height: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
  }
}

.feed__activity {
  display: flex;
  align-items: center;
  margin-top: 11px;
  padding: .8em .8em;
  border-radius: 4px;
  justify-content: center;
  flex-direction: column;
  background-color: $feedTileGrey;
  border: solid 1px $borderColor;


  &:hover {
    background-color: #efefef;
  }
}

.feed__activity__address__dataType {
  width: 18px;
  display: flex;
  align-items: center;
}

.feed__activity__address__dataType--ethereum {
  width: .9em !important;
}

.feed__activity__address__function {
  width: 130px;
  overflow: scroll;
}

.feed__activity__address__toFrom {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 130px;

  img {
    width: 1em;
    margin-right: 1vw;
  }
}

.feed__activity__metaData {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 23%;
  align-self: flex-start;
  padding-top: 3px;
}

.saveDelete {
  img {
    width: .8em !important;
  }
}

.feed__activity__address__amount {
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
  font-weight: 800;
}

.feed__activity__address__time {
  width: 80%;
  justify-content: flex-end;
  padding-right: 12px;
  align-items: center;
  display: flex;
  color: $faintFont !important;
  font-size: 12px !important;
  text-align: right;
}

.feed__activity__load {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 80px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  border: solid 1px $borderColor;

  p {
    color: $lighterFont;
  }
}

#activityLoad {
  width: 26px;
  height: 26px;
  // margin-left: 14px;
}

.feed__activity__address__wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

@media only screen and (max-width: 1278px) {
  #feed {
    left: 350px;
  }

  #myFeed {
    left: 350px;
  }

  .statusUpdate {
    left: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .followingHeader {
    padding: 30px 20px 12px 20px !important;
  }

  .feed_content_headers {
    margin: 0 0 20px 14px;
  }

  .statusUpdate {
    margin-top: 0;
    border-radius: 0;
    border-bottom: solid 1px $borderColor;
    border-top: solid 1px $borderColor;
    border-left: none;
    border-right: none;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0;
    margin-left: 0;
    height: fit-content;
    margin-bottom: 18px;

    input {
      padding: 10px 10px;
    }
  }

  .feed__activity__load {
    min-height: 80px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 0;
    border-top: solid 1px $borderColor;
    border-bottom: solid 1px $borderColor;
    border-right: none;
    border-left: none;

    p {
      color: $lighterFont;
    }
  }

  .collectibles {
    max-width: calc(100vw - 22.5px) !important;
    min-width: calc(100vw - 22.5px) !important;
    left: calc(50vw - 350px);
    margin: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .statusUpdate--bannerMargin {
    margin-top: 310px !important;
  }

  .profile__details {
    padding: 0 !important;
    max-width: 100vw;
    min-width: 100vw;
    margin-top: 0 !important;
    background-color: transparent;
  }

  .hideStatusButton {
    display: block;
  }

  .feed__activity__tile {
    width: 100%;
    padding: 18px 0;
    border-radius: 0;
    background-color: white;
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    border-left: none;
    border-right: none;
  }

  .feed__activity {
    margin-left: 0;
    display: flex;
    padding: 11px 0 0 0;
    margin-left: 3vw;
    margin-right: 3vw;
    align-items: center;
    justify-content: space-between;
    width: 94vw;

    border-top: 1px solid $borderColor;
  }

  .feed__activity__data {
    padding: 0;
    width: 94%;
    align-items: flex-start;
    flex-direction: column;
  }

  .hideUpdateOnMobile {
    display: none;
  }

  .feed__activity__info {
    max-width: 100%;
    width: 100%;
    padding: 0;
    // flex-direction: column;

    img {
      margin-right: 7px;
    }

    p {
      width: 300px;
      word-wrap: break-word;
    }
  }

  .feed__activity__image {
    width: 100%;
    min-width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 0;
  }

  #feed {
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    border: none;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 18px;
    margin-left: 0;
    min-height: fit-content;
  }

  #myFeed {
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    border: none;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 18px;
    margin-left: 0;
    min-height: fit-content;
  }

  .feed__activity__metaData {
    width: 100%;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 11px;
  }

  #feed__header {
    padding: 30px 0 12px 20px;
    margin-bottom: 0;
  }

  .publicHeader {
    display: none;
  }

  .feed__activity__context {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
  }

  .feed__activity__address {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 90%;


    h4 {
      width: 94%;
      overflow-x: scroll;
    }
  }

  .feed__activity__address__wrapper {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .feed__activity__header {
    background-color: $backgroundHue;

    h4 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .whiteBG {
    background-color: white !important;
  }

  .feed__activity__address__time {
    width: 26%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity__address__amount {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity__address__dataType {
    width: 18px;
  }

  .feed__activity__address__toFrom {
    width: 15%;
  }

  .feed__activity__address__function {
    width: 13%;
  }

  .feed__footer {
    margin-bottom: 28px;
  }
}