@import '../../../variables.scss';

.input {
  position: relative;
}

.input_form {
  font-size: 15px;
  min-height: 74px;
  height: 74px;
  box-sizing: border-box;
  min-width: 100%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid $borderColor;
  padding: 25px 12px 25px 68px;
  resize: none;
  overflow-y: hidden;
  line-height: 22px;
  margin-bottom: 14px;

  &:focus {
    outline-width: 0;
  }
}

::placeholder {
  font-size: 15px;
  white-space: nowrap;
}

.input_form.hidePlaceholder::placeholder {
  color: transparent !important;
}

.input_user {
  position: absolute;
  left: 15px;
  top: 17px;
  min-width: $commentPictureDimension;
  min-height: $commentPictureDimension;
  max-width: $commentPictureDimension;
  max-height: $commentPictureDimension;
  border-radius: 50%;
  background-color: #1168df;
  object-fit: cover;
}

.input_emptyUser {
  position: absolute;
  left: 15px;
  top: 17px;
  min-width: $commentPictureDimension;
  min-height: $commentPictureDimension;
  max-width: $commentPictureDimension;
  max-height: $commentPictureDimension;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $borderColor;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_emptyUser_icon {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  opacity: .6;
}

.input_login {
  position: absolute;
  left: 72px;
  bottom: -24px;
  color: $lighterFont;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.sc-user-input--picker-wrapper {
  position: absolute;
  right: 100px;
  top: 17px;
  min-width: $commentPictureDimension;
  min-height: $commentPictureDimension;
  max-width: $commentPictureDimension;
  max-height: $commentPictureDimension;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_send-mobile {
  visibility: hidden;
  display: none;
}

.input_send-dtw {
  opacity: .5;
  position: absolute;
  right: 13px;
  top: 12px;
}

.input_send-dtw-visible {
  opacity: 1;
}

.input_postLoading {
  position: absolute;
  top: 10px;
  left: calc(50% - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_postLoading_spinner {
  min-height: 52px;
  min-width: 52px;
  max-height: 52px;
  max-width: 52px;
  opacity: .6;
}

.input_postLoading_text {
  color: $lighterFont;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -4px;
}

.input_commentAs {
  position: absolute;
  left: 72px;
  top: -34px;
  color: $lighterFont;
  font-size: 12px;
  opacity: 0;
  transition: .2s ease-in-out all;
  white-space: nowrap;
  overflow: hidden;
}

.showLoggedInAs {
  opacity: 1;
}

.comment_loading {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}

@media only screen and (max-width: 768px) {
  .comment-mobile {
    ::placeholder {
      font-size: 16px;
    }

    .sc-user-input--picker-wrapper {
      display: none;
    }

    .input_user {
      top: 7px;
      left: -1px;
      min-width: $commentPictureDimension-mobile;
      min-height: $commentPictureDimension-mobile;
      max-width: $commentPictureDimension-mobile;
      max-height: $commentPictureDimension-mobile;
    }

    .input_emptyUser {
      top: 6px;
      left: -1px;
      min-width: $commentPictureDimension-mobile;
      min-height: $commentPictureDimension-mobile;
      max-width: $commentPictureDimension-mobile;
      max-height: $commentPictureDimension-mobile;
    }

    .input_emptyUser_icon {
      min-width: 30px;
      min-height: 30px;
      max-width: 30px;
      max-height: 30px;
      opacity: .6;
    }

    .input_form {
      font-size: 15px;
      min-height: 64px;
      height: 64px;
      box-sizing: border-box;
      min-width: calc(100% + 16px);
      border-radius: 37px;
      border: 1px solid $borderColor;
      margin-left: -8px;
      padding: 20px 52px 20px 68px;
    }

    .input_send-mobile {
      position: absolute;
      right: 0px;
      bottom: 9px;
      border-radius: 50%;
      background-color: transparent;
      padding: 0;
      border: 0;
      min-width: $commentPictureDimension-mobile;
      min-height: $commentPictureDimension-mobile;
      max-width: $commentPictureDimension-mobile;
      max-height: $commentPictureDimension-mobile;
      opacity: .6;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input_send-mobile-visible {
      visibility: visible;
    }

    .input_send_icon-mobile {
      width: 26px;
      opacity: .5;
    }

    .input_commentAs {
      left: 62px;
    }

    .input_login {
      left: 62px;
      bottom: -20px;
      background-color: transparent;
    }

    .input_user-empty {
      background-color: transparent;
      left: 12.5px;
      top: 18px;
      min-width: 28px;
      min-height: 28px;
      max-width: 28px;
      max-height: 28px;
      border-radius: 0;
      opacity: .7;
    }

    .input_postLoading {
      position: absolute;
      top: 6px;
      left: calc(50% - 58px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input_postLoading_spinner {
      min-height: 52px;
      min-width: 52px;
      max-height: 52px;
      max-width: 52px;
    }
  }
}