@import '../../../variables.scss';

.finder-settings {
  width: 15vw;
  min-width: 180px;
}

.settings_mainView {
  width: 100%;
}

.settings_mainViewWrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.settings_mainViewWrapper_headers {
  margin-bottom: 24px;

  p {
    color: $lighterFont;
  }

  h2 {
    margin-bottom: 6px;
  }
}

.settings_page {
  display: flex;
  height: calc(100vh - 109px);
  min-width: 920px;
}

.settings_tile {
  min-height: 50px;
  height: fit-content;
  width: 100%;
  border: 1px solid $borderColorDark;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: $borderColor;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  max-width: 550px;
}

.settings_tile-clickableTile {

  p,
  h3 {
    transition: all 0.2s ease-in-out;
    font-weight: 600;
  }

  &:hover {
    background-color: $threeBoxBlue;
    border-color: $threeBoxBlue;

    h3,
    p {
      color: white;
    }
  }
}

.settings_tile_context {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 550px;
  width: 100%;
}

.settings_tile_subtext {
  font-size: 14px;
  color: $lighterFont;
}

.settings_ensNames {
  font-weight: 400 !important;
  color: $lighterFont;
}

.linkedAccountTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.settings_mainView_text {
  font-size: 12px;
  color: $lighterFont;
  margin: 6px 0;
}

.settings_mainView_linkedAddressWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.settings_mainView_text-3id {
  text-decoration: underline;
  margin-left: 4px;
  font-size: 12px;
  color: $lighterFont;
}


@media only screen and (max-width: 768px) {}