@import "../../variables.scss";

#footer {
  background-color: #fff;
  border-top: 1px solid #E4E4E4;
  overflow: hidden;
  position: absolute;
  height: 14vh;
  bottom: -10vh;
  width: 100%;
  display: block;

  display: flex;
  align-items: center;
}

#footer_links {
  padding: 0;
  // width: 40vw;
  margin-left: auto;
  margin-right: 2em;
  display: flex;
  align-items: center;
  z-index: 1;

  li {
    display: inline-block;
    text-align: center;
    color: #a8a8a8;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

#landingFooter {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 27em;
  display: flex;
  align-items: center;

  a {
    z-index: 1;
  }
}

#footer_bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 0;
}