@import "../../../variables.scss";

.data__page {
  display: flex;
}

.spaces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #E8EAEE;
  width: 22vw;
  overflow-y: scroll;
}

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: rgb(218, 225, 238);
  }
}

.space__name {
  color: #476997;
  padding-left: 40px;
}

.space__arrow {
  color: #476997;
  padding-right: 40px;
}

.dataExplorer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 78vw;
}

.data__space {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data__space__title {
  padding-left: 30px;
}

.data__space__info {
  width: 15px;
  filter: grayscale(100%);
  padding-right: 30px;
}

.data__categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $borderColor;
  height: 50px;
}

.data__items {
  width: 100%;
}

.data__categories__title {
  width: 16.66666666666666666666666666666%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__items__row {
  height: 50px;
  border-bottom: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
  margin-bottom: -1px;
  cursor: pointer;
  
  &:hover {
    background-color: rgb(218, 225, 238);
  }
}