{
  "presets": [
    "es2015",
    "react",
    "flow",
    "stage-0",
  ],
  "plugins": [
    ["babel-plugin-idx", {
      "importName": "./idx"
    }],
    "add-module-exports",
    "dynamic-import-webpack",
    "transform-regenerator",
    "transform-class-properties",
    "transform-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "transform-decorators-legacy",
    "transform-es2015-destructuring",
    ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"],        
      "presets": ["es2015", "react", "stage-0"]
  },
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}