@import "../../variables.scss";

#edit__page {
  margin-top: 68px;
}

#edit {
  width: 55vw;
  min-width: 740px;
  margin: 0 auto;
  padding: 5.5em 0;

  h3 {
    font-size: 18px;
    color: $lighterFont;
    margin-top: 10px;
  }

  h5 {
    font-weight: 400;
    font-size: .8em;
  }

  select {
    border-radius: 5px;
    border-style: none;
    border: solid 1px #E4E4E4;
    background-color: rgb(255, 255, 255);
    height: 44px;
    width: 54px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
  }

  button {
    display: inline-block;
  }
}

.noMargin {
  margin-top: 0 !important;
}

#edit__form {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  margin-top: 0;
  border: $borderColor solid 1px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);

  form {
    height: 100%;
  }

  button {
    display: block;
  }
}

#myProfile__address {
  margin-left: auto;
  margin-right: 3vw;
  display: flex;
  align-items: center;
}

#edit__profile {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#edit__myProfile {
  width: 100%;
  border-bottom: $borderColor solid 1px;
  height: 4em;
  display: flex;
  align-items: center;

  h4 {
    margin-left: 2em;
  }
}

.edit__profile__canvas {
  background-color: $threeBoxBlueShade;
  width: 100%;
  height: 174px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#edit_private {
  padding: 1.8em 2em 2em;
}

.edit__profile__info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 44px;
  border-bottom: 1px solid #f1f1f1;
}

.edit__profile__info--verified {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 52px;
  border-bottom: 1px solid #f1f1f1;
  background-color: $threeBoxBlueLightBG;
}

.noBorder {
  border: none !important;
}

.edit__profile__address {
  padding: 12px 18px;
  box-shadow: $boxShadow;
  border-radius: 6px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lightFont;
  margin-right: 3em;
  margin-top: 2em;
}

#edit__userPicture {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 76px;
  margin-top: -62px;
}

.profPic {
  display: block;
  border-radius: 100%;
  width: 144px;
  height: 144px;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border: 6px solid white;
  background-color: $defaultProfPic;
}

.coverPic {
  display: block;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  height: 174px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 0;
  position: absolute;
  background-color: white;
}

#addImage {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 5px;
  opacity: 1;
  z-index: 2;
  bottom: 0;
}

#addCoverPhoto {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 5px;
  opacity: 1;
  z-index: 2;
  bottom: 0;
}

.profPic_div:hover .profPic_div_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profPic_div_overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 100%;
  width: 144px;
  height: 144px;
  top: 6px;
  left: 6px;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 1;

  p {
    font-weight: 400;
    font-size: .8em;
    color: white;
  }
}

#edit__info {
  // overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 3em 0 0;
  width: 100%;
}

#privateInfo_email {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}

.edit__profile__fields__entry {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.edit__profile__keyContainer {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  position: relative;

  h5 {
    padding-right: 15px;
  }
}

.edit__profile__value {
  width: 70%;
  border-radius: 5px;
  border-style: none;
  border: solid 1px #E4E4E4;
  background-color: rgb(255, 255, 255);
  height: 44px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.uneditedGithub {
  color: #bbbbbb !important;
  border: none !important;
}

.edit__profile__value--github {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  border: solid 1px #E4E4E4;
  background-color: rgb(255, 255, 255);
  height: 44px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.edit__profile__verifiedWrapper {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.edit__profile__verifiedWrapper__warning {
  color: #E78888;
  position: absolute;
  bottom: -31px;
  right: 3em;
  width: fit-content;
  padding: 3px 14px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  display: flex;
}

.second {
  bottom: -48px;
}

.verificationButton {
  position: absolute;
  right: 24px;
  top: 13px;
}

.edit__profile__value--description {
  width: 70%;
  border-radius: 5px;
  border-style: none;
  border: solid 1px #E4E4E4;
  background-color: rgb(255, 255, 255);
  height: 80px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}

.edit__profile__verifiedName {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}

.edit__profile__value--spirit {
  width: 16%;
  height: 44px;
  display: flex;
  align-items: center;
  // justify-content: flex-start;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  border: solid 1px #E4E4E4;
}

.edit__profile__value--spirit__character {
  font-size: 34px;
  margin-top: 4px;
}

.onClickOutside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.privateInput {
  padding-left: 38px !important;
  width: 100%;
}

#edit__cancel {
  margin-left: 1vw;
}

.edit__profile__value__emojiMenu {
  z-index: 5;
  position: absolute;
}

.edit__profile__value--privateContainer {
  position: relative;
  width: 70%;
}

.container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  padding: 1rem;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
  }
}

#fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

#coverInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

#chooseFile {
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: $lightFont;
  position: relative;
}

#chooseCanvas {
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: $lightFont;
  position: relative;
}

#removePic {
  // margin-left: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  left: 5px;
  opacity: 1;
  z-index: 2;
  bottom: 0;
  background: #E3E3E3;
  color: $threeBoxRed;
  align-items: center;
  justify-content: center;
}

#removeCoverPic {
  width: 36px;
  height: 36px;
  opacity: 1;
  z-index: 2;
  background: #E3E3E3;
  color: #E78888;

  &:hover {
    background-color: #474747;
    border: solid 1px transparent;
    transition: background-color .8s ease;
  }

  background: rgba(0, 0, 0, 0.404);
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
  margin-right: 14px;
}

#edit__formControls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  #edit__formControls__content {
    padding: 1.4em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.edit__profile__categories {
  width: 25%;
  padding-left: 3em;

  p {
    color: $lightestFont;
    margin-top: 8px;
  }
}

#edit__profile__fields {
  display: flex;
  align-items: center;
  width: 75%;
  position: relative;
}

.removeButton {
  font-size: 1em;
  line-height: 1em;
  color: $lightFont;
  background: transparent;
  padding: .5em;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: none !important;

  &:hover {
    color: white;
    background-color: $lightFont;
  }
}

.removeGithub {
  color: #bbbbbb;

  &:hover {
    color: #E78888;
    -webkit-transition: background-color .4s ease;
    -o-transition: background-color .4s ease;
    transition: background-color .4s ease;
  }
}

.edit__profile__editCanvas__wrapper {
  display: flex;
  align-items: center;
  margin-right: 3em;
  margin-bottom: 1.4em;
  z-index: 1;
}

.edit__profile__editCanvas__button {
  font-size: .8em;
  color: white;
  background: rgba(0, 0, 0, 0.404);
  padding: .8em 1.3em;
  display: block;
  align-items: flex-start;
  text-align: center;
  z-index: 100;
  border-radius: 2em;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;

  &:hover {
    color: white;
    background-color: #474747;
    transition: background-color .8s ease;
  }
}

.edit__profile__picAndAddress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#edit__breadCrumb {
  width: 100%;
  background-color: $threeBoxBlue;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;

  p {
    margin-right: 2vw;
    color: white;
  }

  #edit__breadCrumb__crumbs {
    margin-left: 4vw;
    display: flex;
    align-items: center;
  }
}

#editprofile__networkLogo {
  height: 19px;
  margin-left: 3vw;
  margin-right: 1vw;
}

#editprofile__privateIcon {
  height: 22px;
  margin-left: 1vw;
}

#edit__profile__input__privateIcon {
  height: 18px;
  z-index: 2;
  position: absolute;
  left: 12px;
  top: 13px;
}

.edit__profile__fields__entry--memberSince {
  color: $lighterFont;
}

// .edit__profile__fields__entry {
//   margin-bottom: 20px;
// }

.loadingProfile {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.281);
  z-index: 6;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

#loadingProfile__Spinner {
  width: 3em;
  height: 3em;
  z-index: 1;
}

.edit__profile__verified--NoMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .edit__profile__editCanvas__wrapper {
    margin-right: 1em;
  }

  .modal__container {
    width: 100vw;
    height: 100vh;
  }

  #removeCoverPic {
    margin-right: 6px;
  }

  .profile__basic {
    margin-top: 24px;
    margin-bottom: 28px;
    width: 260px;
  }

  .edit__profile__picAndAddress {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edit__profile__address {
    margin: 24px 0 0 0 !important;
    width: 25%;
  }

  .edit__profile__keyContainer {
    justify-content: flex-start;
  }

  .edit__profile__value {
    width: 100%;
  }

  .edit__profile__value--description {
    width: 100%;
  }

  #edit {
    width: 100vw;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    min-width: 100vw;

    position: absolute;
    top: 40px;
    z-index: 1;

    h5 {
      padding: 0;
      margin-bottom: 14px;
    }
  }

  .edit__profile__canvas {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .edit__profile__verifiedWrapper {
    width: 100%;
  }

  .verifiedForm {
    display: none !important;
  }

  .edit__profile__verified--NoMobile {
    display: flex;
    color: $lightestFont;
  }

  #edit__cancel {
    margin-left: 5vw;
  }

  .edit__profile__value--privateContainer {
    position: relative;
    width: 100%;
  }

  #chooseFile {
    margin: 0;
  }

  #edit__profile__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #edit__form {
    border-radius: 0;
    border: none;
    position: static;
  }

  .edit__profile__verifiedWrapper__warning {
    bottom: -28px;
    left: 0;
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }

  .second {
    bottom: -46px;
    left: 0;
    width: 100%;
    padding: 0;
  }

  .loadingProfile {
    border-radius: 0px;
    justify-content: center;
    align-items: center;
  }

  .edit__profile__info {
    flex-direction: column;
    padding-left: 14px;
    padding-right: 14px;
  }

  .edit__profile__info--verified {
    flex-direction: column;
    padding-left: 14px;
    padding-right: 14px;
  }

  .extraMargin {
    margin-bottom: 36px !important;
  }

  .edit__profile__categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

    p {
      margin-top: 10px;
    }
  }

  .edit__profile__fields__entry {
    flex-direction: column;
    align-items: flex-start !important;
  }

  #edit__page {
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    z-index: 0;

    #edit__myProfile {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5.5em;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;

      h4 {
        margin: 0 0 .6em 3vw;
      }
    }

    #myProfile__address {
      margin-left: auto;
      margin-right: 3vw;
      display: flex;
      align-items: center;
    }

    #edit__userPicture {
      width: 100%;
      height: 100%;
      display: flex;
      margin-left: 0;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;

      .profPic {
        display: flex;
        margin: 0;
        position: relative;
        z-index: 1;
      }

      button {
        display: flex;
        margin: 0;
      }

    }

    #edit__profile {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
    }

    #edit_private {
      padding: 1.8em 2em 2em;
    }

    form {
      display: inline-block;
      height: 100%;
    }

    #edit__info {
      width: 100%;
      padding: 0 !important;
    }
  }

  .coverPic {
    width: 100vw !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    left: 0;
  }

  #edit__formControls__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 14px !important;

  }

  #edit__formControls {
    margin-bottom: 20px;
  }

}