#edit {
  width: 85vw;
  margin: 0 auto;
  margin-top: 10vh; }

#edit_page {
  width: 100%;
  height: 28em;
  margin-top: 1vh;
  display: flex;
  border: #E4E4E4 solid 1px;
  background: white;
  border-radius: 6px;
  background-color: #f8f8f8; }
  #edit_page form {
    display: inline-block;
    height: 100%; }
  #edit_page #edit_user_picture {
    width: 27%;
    height: 100%;
    display: inline-block;
    flex: 2;
    margin-top: 6em;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #edit_page #edit_user_picture .profPic {
      display: block;
      background-color: #3f3f3f;
      border-radius: 100%;
      width: 120px;
      height: 120px;
      margin: 0 auto; }
    #edit_page #edit_user_picture button {
      display: block;
      margin: 0 auto;
      margin-top: 3em; }
  #edit_page #edit_user_public {
    width: 36.5%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    flex: 3.5;
    justify-content: center;
    align-content: center;
    align-items: center; }
  #edit_page #edit_user_private {
    width: calc(36.5% - 1px);
    height: 100%;
    display: inline-block;
    border-left: solid 1px #E4E4E4;
    flex: 3.5;
    justify-content: center;
    align-content: center;
    align-items: center; }

#goBack {
  color: #6b6b6b;
  position: absolute;
  top: 100px;
  left: 2vw; }

.edit_form {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  padding: 2em; }
  .edit_form h3 {
    padding-bottom: 1.5vh;
    margin-top: 3vh;
    font-weight: 700;
    font-size: 1em; }
  .edit_form input {
    display: inline-block;
    border-radius: 5px;
    border-style: none;
    border: solid 1px #E4E4E4;
    height: 44px;
    width: 80%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }
  .edit_form button {
    display: inline-block; }

#edit_address {
  overflow: scroll; }

.dateType {
  background: #ebebeb; }

#edit_cancel {
  margin-left: 1vw; }

.container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  padding: 1rem;
  z-index: 1; }

.loadingContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  padding: 1rem;
  z-index: 2; }

.modal {
  position: absolute;
  left: 50%;
  top: 15%;
  background: white;
  transform: translate(-50%, 0);
  border: solid 1px #e8e8e8;
  border-radius: 6px;
  padding: 15px;
  width: 560px;
  min-height: 500px; }
  .modal p {
    position: absolute;
    top: 20px;
    left: 26px; }
  .modal form {
    text-align: center;
    margin-top: 2em; }

#closeModal {
  position: absolute;
  top: 20px;
  right: 26px; }

#saveModal {
  position: absolute;
  bottom: 20px;
  right: 26px; }

#fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

#edit_modal_user_picture {
  margin: 0 auto;
  margin-top: 9em;
  background-color: #3f3f3f;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  display: block; }

#chooseFile {
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: #6b6b6b; }

#loadingPic {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1; }

#removePic {
  position: absolute;
  top: 9em;
  right: 9em;
  margin-left: 0; }

#formControls {
  float: right;
  margin-top: 2em; }

#privateHeader {
  padding: 2em; }

.removeButton {
  font-size: .8em;
  color: #6b6b6b;
  border: 1px solid #6b6b6b;
  background-color: transparent;
  padding: .8em 1.3em;
  margin-left: 1em; }
  .removeButton:hover {
    color: white;
    background-color: #6b6b6b; }
