.info__page {
  display: flex;
  flex-direction: column;
  margin-top: 68px; }

.info__banner {
  width: 100vw;
  height: 14em;
  background-color: #006ECC;
  display: flex;
  justify-content: center;
  align-items: center; }
  .info__banner h1 {
    color: white; }

.info__content {
  display: flex;
  justify-content: center; }

.info__content__text {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5em 0; }
  .info__content__text h3 {
    margin-bottom: .5em; }
  .info__content__text p {
    margin-bottom: 4em; }
