.info {
  position: relative;
  height: fit-content; }

.info__page {
  display: flex;
  flex-direction: column; }

.info__banner {
  width: 100vw;
  height: 25em;
  background-color: #1168df;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .info__banner h1 {
    color: white; }
  .info__banner p {
    color: white;
    font-size: 16px;
    margin-top: 32px;
    width: 50vw;
    line-height: 24px;
    text-align: center; }

.info__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 400px; }

.info__content__text {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5em 0; }
  .info__content__text h3 {
    margin-bottom: .5em; }
  .info__content__text p {
    margin-bottom: 4em; }

.info__content__jobWrapper {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between; }

.info__content__jobs {
  width: 50vw;
  margin-top: 120px;
  margin-bottom: 150px; }

.info__content__job__text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 75%; }

.info__content__job__link {
  width: 24%;
  min-width: 132px;
  display: flex;
  justify-content: flex-end; }

.info__content__job__text__title {
  color: #1168df;
  margin-bottom: 7px; }

.info__content__job__text__description {
  color: #4f7599;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px; }

.info__content__job__text__location {
  color: #9aacbd; }

.info__content__contact__header {
  color: #1168df;
  text-align: center;
  margin-bottom: 16px; }

.info__content__contact__body {
  text-align: center;
  color: #4f7599;
  width: 34vw;
  font-size: 16px;
  margin-bottom: 20px; }
  .info__content__contact__body a {
    color: #1168df;
    font-weight: 700;
    font-size: 16px;
    margin: 0 4px 0 4px; }

.info__content__contact {
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.jobsPage {
  background-color: white; }

@media only screen and (max-width: 600px) {
  .info__banner p {
    line-height: 24px;
    margin-top: 16px;
    width: 80vw; }
  .info tr {
    display: flex;
    flex-direction: column; }
  .info__content__jobs {
    width: 80vw;
    margin-top: 70px;
    margin-bottom: 70px; }
  .info__content__text {
    width: 80vw; }
  .info__content__jobWrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px; }
  .info__content__job__text {
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    align-items: flex-start; }
  .info__content__job__text__title {
    margin-bottom: 12px;
    text-align: left;
    align-items: flex-start; }
  .info__content__job__text__description {
    margin-bottom: 18px; }
  .info__content__contact__body {
    width: 80vw; } }
