#landing {
  background-color: white;
  position: relative;
  background-color: white;
  overflow: hidden; }

#landing__splash {
  position: relative;
  padding: 11em 10% 4em;
  height: 26em;
  display: inline-block;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: white; }
  #landing__splash h1 {
    font-size: 3em;
    font-weight: 800; }
  #landing__splash button {
    padding: 1.6em 2.4em;
    border-radius: 3em;
    font-size: .9em; }

#landing__createProfile {
  width: 60%;
  display: inline-block;
  float: left;
  position: relative;
  animation: fadeIn 1.25s forwards;
  -webkit-animation: fadeIn 1.25s forwards; }
  #landing__createProfile h1 {
    animation: moveHorizontal 1s forwards;
    -webkit-animation: moveHorizontal 1s forwards;
    position: relative; }
  #landing__createProfile p {
    margin-top: .5em;
    font-size: 1.1em;
    animation: moveHorizontal 1s forwards;
    -webkit-animation: moveHorizontal 1s forwards;
    position: relative;
    animation-delay: .1s; }
  #landing__createProfile button {
    animation: moveHorizontal 1s forwards;
    -webkit-animation: moveHorizontal 1s forwards;
    position: relative;
    animation-delay: .2s; }
  #landing__createProfile img {
    animation: moveHorizontal 1s forwards;
    -webkit-animation: moveHorizontal 1s forwards;
    position: relative;
    animation-delay: .3s; }

#landing__trustedPartners {
  width: 100vw;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; }
  #landing__trustedPartners button {
    padding: 1.6em 2.4em;
    border-radius: 3em;
    font-size: 1.1em; }
  #landing__trustedPartners h3 {
    text-align: center;
    z-index: 1;
    display: block;
    margin-bottom: 2em;
    margin-top: 3em; }
  #landing__trustedPartners #landing__partnerList {
    display: flex;
    z-index: 1; }
  #landing__trustedPartners .partnerCos {
    flex: 1;
    z-index: 1;
    margin: .5em 4vw;
    width: 12vw; }

#landing__build {
  text-align: center;
  margin: 7em 0 27em 0;
  display: inline-block;
  position: relative;
  width: 100%; }
  #landing__build button {
    padding: 1.6em 2.4em;
    border-radius: 3em;
    font-size: 1.1em;
    margin-top: 2em; }
  #landing__build p {
    margin-top: .5em;
    font-size: 1.1em;
    line-height: 1.4em; }
  #landing__build h2 {
    font-size: 2.8em; }

#landing_section_developers_inner {
  width: 80%;
  margin: 0 auto; }

#landing_section_developers_copy {
  width: 60%;
  height: 15em;
  display: inline-block;
  float: left;
  position: relative; }

.consentModal {
  position: absolute;
  left: 50%;
  top: 15%;
  background: white;
  transform: translate(-50%, 0);
  border: solid 1px #e8e8e8;
  border-radius: 6px;
  padding: 15px;
  width: 560px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .consentModal img {
    width: 300px !important;
    margin-bottom: 120px; }

@keyframes moveHorizontal {
  from {
    left: -5vw; }
  to {
    left: 0px; } }

#consensys {
  margin-top: 1em;
  opacity: .6; }
  #consensys p {
    display: inline-block;
    margin-right: .5em;
    font-size: 1em; }
  #consensys img {
    width: 7em;
    display: inline-block;
    opacity: .5; }

#landing__profileCard {
  width: 40%;
  display: inline-block;
  animation: fadeIn 1.25s forwards;
  -webkit-animation: fadeIn 1.25s forwards; }

#landing__createProfileButton {
  margin-top: 3.5em; }

@keyframes moveVertical {
  from {
    top: -.5em; }
  to {
    top: 0px; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#landing__profileCard--margin {
  margin: 2.5em 0 2.5em 6vw;
  animation: moveVertical 1.25s forwards;
  -webkit-animation: moveVertical 1.25s forwards;
  position: relative; }

#landing_arrow {
  animation: bounce 3s infinite; }

@keyframes bounce {
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); } }

#trustedPartners--bg {
  min-width: 100%;
  position: absolute;
  z-index: 0;
  opacity: .07;
  overflow: hidden; }

.build__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28em;
  margin-top: 2em; }

.build__section__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.build__section__content {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: 3em; }
  .build__section__content h3 {
    font-size: 1.6em; }

.build__graphic__profiles {
  flex: 1;
  position: relative;
  height: 17em; }

.build__graphic__threeBox {
  flex: 1;
  width: 60%;
  position: relative; }
  .build__graphic__threeBox #threeboxIllustration {
    width: 75%; }

#illustration {
  border-radius: 100%;
  width: 12em;
  height: 12em;
  background-color: white;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); }

#illustration2 {
  border-radius: 100%;
  width: 16em;
  height: 16em;
  background-color: #ECECEC;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); }

#illustration3 {
  border-radius: 100%;
  width: 20em;
  height: 20em;
  background-color: whitesmoke;
  margin: 0 auto;
  z-index: 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); }

#illustration4 {
  border-radius: 100%;
  width: 24em;
  height: 24em;
  background-color: transparent;
  border: dashed 1px #cfcfcf;
  margin: 0 auto;
  z-index: 0;
  display: inline-block; }

#explore {
  position: absolute;
  bottom: 0;
  left: 0; }

@keyframes scroll {
  0% {
    left: 800px; }
  100% {
    left: -800px; } }

#card {
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  min-width: 80%;
  min-height: 100%;
  background: white;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  float: right;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%); }

.animateOnEvent .ae-1,
.animateOnEvent .fast .ae-1.fast,
.animateOnEvent .ae-1.fast {
  -webkit-animation-delay: 10ms;
  animation-delay: 10ms; }

.animated [class*="ae-"] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.2, 1); }

.animateOnEvent .ae-1 {
  -webkit-animation-delay: 10ms;
  animation-delay: 10ms; }

#Michael {
  position: absolute;
  top: 0;
  left: 7.5vw;
  z-index: 0; }

#Christian {
  position: absolute;
  top: 4em;
  left: 15.5vw;
  z-index: 1; }

#Cristobal {
  position: absolute;
  top: 8em;
  left: 23.5vw;
  z-index: 2; }

#consentError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; }

#threeBoxGraphic {
  position: absolute;
  margin-right: -1.5em;
  right: 0;
  top: 7em;
  opacity: .6;
  z-index: 2; }

#threeBoxGraphic2 {
  position: absolute;
  margin-left: 12em;
  left: 0;
  top: 53em;
  transform: rotate(90deg);
  opacity: .6; }

#footer {
  background-color: #fff;
  border-top: 1px solid #E4E4E4;
  overflow: hidden;
  position: absolute;
  height: 14vh;
  bottom: -10vh;
  width: 100%;
  display: block;
  display: flex;
  align-items: center; }

#landing__footer {
  width: 100%;
  height: 30em;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 3em; }
  #landing__footer ul {
    width: 80%;
    display: flex;
    align-items: center; }
    #landing__footer ul li {
      width: 50%;
      display: flex;
      align-items: center; }
  #landing__footer a {
    z-index: 2;
    color: white;
    display: flex;
    align-items: center; }
  #landing__footer #landing__mailChimp {
    display: flex;
    align-items: center;
    z-index: 1;
    width: 40vw;
    justify-content: center;
    margin-top: 4em; }
    #landing__footer #landing__mailChimp input {
      display: inline-block;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border-style: none;
      height: 44px;
      max-width: 70%;
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #414E66;
      color: white; }
      #landing__footer #landing__mailChimp input::placeholder {
        color: white; }
    #landing__footer #landing__mailChimp div {
      display: flex;
      align-items: center; }
    #landing__footer #landing__mailChimp button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      height: 44px;
      padding: 0 20px; }

#footer__links {
  z-index: 1;
  display: flex;
  width: 60vw;
  justify-content: space-between;
  margin-top: 12.5em; }
  #footer__links #footer__scaleLogo {
    zoom: 1.5;
    -moz-transform: scale(1.5); }
    #footer__links #footer__scaleLogo #logo__icon {
      margin-left: 0; }

#footer__socialLinks {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 35%; }

#footer__bg {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
  overflow: hidden; }

#footer__info {
  z-index: 1;
  display: flex;
  width: 10vw;
  justify-content: space-between; }
  #footer__info p {
    color: white;
    opacity: .7; }

.footer__socialIcons {
  width: 2vw;
  z-index: 1; }

#mobile__landing__prompt {
  display: none; }

@media only screen and (max-width: 600px) {
  #landing p {
    font-size: 1em !important; }
  #threeBoxGraphic {
    display: none; }
  #threeBoxGraphic2 {
    display: none; }
  #logo__icon {
    margin-left: 5vw; }
  #footer__links {
    flex-direction: column;
    align-items: center;
    margin-top: 1em; }
  .footer__socialIcons {
    width: 7vw; }
  #footer__info {
    width: 28vw;
    margin-top: 1em; }
  #footer__socialLinks {
    width: 90%;
    margin-top: 3em; }
  .loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center; }
    .loadingContainer img {
      width: 100px; }
  .consentModal {
    position: absolute;
    left: 50%;
    top: 15%;
    background: white;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    padding: 15px;
    width: 76vw;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .consentModal img {
      width: 100px; }
  .modal {
    position: absolute;
    left: 50%;
    top: 15%;
    background: white;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    padding: 15px;
    width: 76vw;
    min-height: 300px; }
  .differentNetwork__modal {
    position: absolute;
    left: 50%;
    top: 15%;
    background: white;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    padding: 15px;
    width: 76vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #landing__splash {
    margin: 5em 0 6em 0;
    height: fit-content;
    width: fit-content;
    flex-direction: column-reverse;
    padding: 2em; }
  #consensys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh; }
    #consensys p {
      margin-top: 0 !important; }
    #consensys img {
      width: 5.8em; }
  #landing__createProfile {
    width: fit-content;
    display: block;
    animation: fadeIn 1.25s forwards;
    -webkit-animation: fadeIn 1.25s forwards;
    float: right; }
    #landing__createProfile h1 {
      animation: moveHorizontal 1s forwards;
      -webkit-animation: moveHorizontal 1s forwards;
      font-size: 1.8em;
      margin-bottom: .8em;
      margin-top: .5em; }
    #landing__createProfile p {
      font-size: 1.3em;
      animation: moveHorizontal 1s forwards;
      -webkit-animation: moveHorizontal 1s forwards;
      position: relative;
      animation-delay: .1s; }
    #landing__createProfile button {
      animation: moveHorizontal 1s forwards;
      -webkit-animation: moveHorizontal 1s forwards;
      position: relative;
      animation-delay: .2s; }
    #landing__createProfile img {
      animation: moveHorizontal 1s forwards;
      -webkit-animation: moveHorizontal 1s forwards;
      position: relative;
      animation-delay: .3s; }
  .profileCard {
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    min-width: 10em;
    min-height: 18em;
    background: white;
    width: 16em; }
  #landing__profileCard {
    width: fit-content;
    margin: 4vh 0 5vh 0; }
  #landing__profileCard--margin {
    margin: 0 auto; }
  #landing__button--center {
    display: flex;
    justify-content: center; }
  #landing__createProfileButton {
    margin-top: 0; }
  #landing__trustedPartners {
    height: 12em; }
    #landing__trustedPartners h3 {
      margin: 1em 0 1em; }
  #landing__partnerList {
    flex-direction: column;
    height: fit-content; }
    #landing__partnerList .partnerCos {
      -ms-flex: 1 1;
      flex: 1 1;
      z-index: 1;
      margin: 1em 4vw;
      width: 70vw; }
  #landing__footer {
    height: 22em; }
    #landing__footer #landing__mailChimp {
      margin-top: 2em; }
  #trustedPartners--bg {
    min-height: 30em; }
  #landing__build {
    margin-top: 6em;
    margin-bottom: 8em; }
    #landing__build h2 {
      font-size: 1.6em; }
  .build__section {
    margin-top: 2em;
    margin-bottom: 4em;
    flex-direction: column-reverse;
    justify-content: center;
    height: fit-content; }
    .build__section .build__section__text {
      height: 14em; }
    .build__section .build__section__content {
      height: 10em;
      text-align: center;
      padding: 1em;
      margin: 2em 0 0 0; }
    .build__section .build__graphic__profiles {
      width: 100%;
      height: 22em;
      margin-top: 3em; }
    .build__section .build__graphic__threeBox {
      width: 100%;
      height: 13em;
      margin-top: 5em; }
    .build__section #threeboxIllustration {
      margin: 0;
      width: 79%; }
  #mobile__landing__prompt {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    background: #021333;
    z-index: 20;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 0 10px 0 #00000025, 16px 0 24px 0 #00000025; }
    #mobile__landing__prompt button {
      padding: .5em .8em;
      position: absolute;
      top: 10px;
      right: 10px; }
    #mobile__landing__prompt p {
      color: white; }
  #mobile__landing__prompt__logo {
    width: 85vw;
    display: flex;
    justify-content: flex-start; }
    #mobile__landing__prompt__logo #logo__icon {
      margin-left: 0;
      background-color: white; }
      #mobile__landing__prompt__logo #logo__icon h2 {
        color: #021333; }
    #mobile__landing__prompt__logo #logo__text {
      color: white; }
  #mobile__landing__prompt__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 2em; }
    #mobile__landing__prompt__text p {
      opacity: .7; }
  #mobile__landing__prompt__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 2em; }
    #mobile__landing__prompt__buttons img {
      width: 40vw; }
  .landing__createProfile--text {
    display: flex;
    text-align: center; }
  .landing__createProfile--subtext {
    display: none; }
  #consensys {
    display: none; }
  #profileCard__username {
    margin-bottom: 1.2em;
    margin-top: 1.3em; }
  #Michael {
    position: absolute;
    top: 0;
    left: 11.5vw;
    z-index: 0; }
  #Christian {
    position: absolute;
    top: 4em;
    left: 19.5vw;
    z-index: 1; }
  #Cristobal {
    position: absolute;
    top: 8em;
    left: 27.5vw;
    z-index: 2; } }
