.landing_page {
  background-color: white;
  transition: all .3s ease-in-out; }
  .landing_page p,
  .landing_page li {
    line-height: 24px;
    font-size: 16px;
    color: #6b6b6b; }

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero_copy {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero_copy_wrapper {
  width: 70%; }
  .hero_copy_wrapper h1 {
    margin-bottom: 12px;
    font-size: 40px; }
  .hero_copy_wrapper p {
    line-height: 28px;
    margin-bottom: 30px; }

.main_wrapper {
  width: 76vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main_copy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 54%; }
  .main_copy h1 {
    margin-bottom: 20px; }

.dapp_usp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 60px; }

.dapp_usp_feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px; }
  .dapp_usp_feature img {
    margin-right: 14px; }

.main_profileCard_card {
  width: 86%;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  margin-bottom: 30px;
  border-radius: 8px;
  max-height: 400px;
  width: auto; }

.main_profileCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 36%; }
  .main_profileCard button {
    width: 86%;
    max-width: 288px;
    min-width: 288px; }

.dapp_screens {
  position: relative;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background: #fefe2f;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #fefe2f 0%, #f931ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefe2f', endColorstr='#f931ff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ }

.dapp_screens_devices {
  z-index: 1; }

.dapp_screens_bg {
  position: absolute;
  min-width: 100vw;
  height: 100%;
  object-fit: cover; }

.dapp_main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero_copy_cloud {
  margin-bottom: 20px; }

.hero_graphic {
  width: 35vw;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .hero_graphic button {
    z-index: 2; }

.hero_graphic_colorcubes-dtw {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 90vh; }

.hero_copy_buttons {
  display: flex; }
  .hero_copy_buttons img {
    width: 14px; }

.hero_copy_buttons_button {
  margin-right: 18px; }

.hero_graphic_discord {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 15vh;
  right: 5vw;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  z-index: 5; }
  .hero_graphic_discord img {
    margin-left: 0;
    width: 36px; }

.partners {
  width: 100vw;
  background-color: #181F21;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .partners h4 {
    color: #b1b1b1;
    font-weight: 300;
    position: absolute;
    top: 60px;
    font-size: 18px; }

.partners_wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.partners_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.partners_list_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }
  .partners_list_wrapper img {
    width: 60px; }

.apis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }

.apis_popout {
  margin-top: -100px;
  background-color: white;
  border-radius: 8px;
  width: 90vw;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f; }

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px; }
  .section_header p {
    font-size: 18px;
    color: #1168df;
    letter-spacing: 1.4px; }

.main_section {
  font-size: 18px;
  color: #1168df !important;
  letter-spacing: 1.4px;
  margin-bottom: 6px; }

.section_line {
  width: 70px;
  height: 3px;
  background-color: #1168df;
  margin-bottom: 20px; }

.turquoise_line {
  background-color: #31F8C0;
  margin-bottom: 36px; }

.pink_line {
  background-color: #F931FF;
  margin-bottom: 36px; }

.purple_line {
  background-color: #8940FF;
  margin-bottom: 36px; }

.section_blurb {
  width: 70%; }
  .section_blurb h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 70px;
    line-height: 46px; }

.product_apis_featureList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px; }

.product_apis_featureList_features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px 20px;
  box-sizing: border-box; }
  .product_apis_featureList_features p {
    text-align: center;
    margin-bottom: 18px; }
  .product_apis_featureList_features h5 {
    font-size: 18px;
    margin-bottom: 18px;
    text-align: center; }
  .product_apis_featureList_features a {
    font-size: 14px;
    font-weight: 600;
    color: #1168df;
    display: flex;
    justify-content: center;
    align-items: center; }
    .product_apis_featureList_features a img {
      margin-left: 8px; }

.feature_icon {
  margin-bottom: 40px; }

.feature_link_arrow {
  width: 10px; }

.api_buildBetter p {
  font-size: 24px;
  color: #b1b1b1; }

.why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 100px; }

.why_reason {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px; }

.why_reason_info {
  width: 60%; }
  .why_reason_info h4 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 34px; }

.why_reason_icon {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .why_reason_icon img {
    width: 70%; }

.why_reason_icon-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .why_reason_icon-right img {
    width: 70%; }

.why_reason_info_tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 26px; }

.why_reason_info_tag {
  background-color: #181F21;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 10px; }
  .why_reason_info_tag p {
    color: white !important; }

.hub {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }

.hub_popout {
  background: #fefe2f;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #fefe2f 0%, #f931ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefe2f', endColorstr='#f931ff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 8px;
  width: 90vw;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f; }

.hub_popout_profile {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hub_popout_info {
  width: 64%;
  display: flex;
  justify-content: center;
  align-items: center; }

.product_apis_featureList_features_copy {
  display: flex;
  justify-content: center;
  align-items: center; }

.hub_popout_info_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  .hub_popout_info_wrapper h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px; }
  .hub_popout_info_wrapper h5 {
    font-weight: 400;
    opacity: .7;
    margin-bottom: 16px; }
  .hub_popout_info_wrapper p {
    margin-bottom: 32px; }
  .hub_popout_info_wrapper button {
    width: 180px; }

.hub_popout_profile_card {
  border-radius: 8px;
  width: 60%;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f; }

.join {
  width: 100vw;
  background-color: #181F21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 0 0 0; }
  .join h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 46px;
    color: white; }
  .join p {
    color: #b1b1b1;
    margin-bottom: 80px; }

.join_input div {
  display: flex;
  align-items: center; }
  .join_input div input {
    height: 46px;
    width: 300px;
    border-radius: 5px;
    border: none;
    padding-left: 15px; }
  .join_input div button {
    display: flex;
    align-items: center;
    margin-left: -92.5px;
    height: 42px;
    padding: 0 20px; }

.footer_section {
  width: 80vw;
  height: 1px;
  color: #6b6b6b; }

footer {
  width: 100vw;
  background-color: #181F21;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 200px 0; }

.footer_wrapper {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.footer_logo {
  width: 90px;
  height: 40px; }

.footer_lane {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }
  .footer_lane h5 {
    color: white;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 300; }
  .footer_lane a {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 300;
    color: #6b6b6b; }
  .footer_lane p {
    margin-bottom: 16px; }
  .footer_lane button {
    border-color: #6b6b6b; }

.api_main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.api_sections {
  cursor: pointer;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ececec; }

.api_sections_wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.api_sections_expanded {
  background-color: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: height .3s ease-in-out; }

.openSection {
  height: 1222px;
  border-top: 1px solid #ececec; }

.openSectionButton {
  transform: rotate(0deg);
  transition: all .3s ease-in-out; }

.flipOpenSectionButton {
  transform: rotate(180deg); }

.api_sections_expanded_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 0; }

.api_sections_expanded_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .api_sections_expanded_header h4 {
    font-size: 18px; }

.api_sections_expanded_header_getSet {
  display: flex; }

.getSet {
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 10px; }
  .getSet p {
    color: white !important; }

.getSet-pink {
  background-color: rgba(248, 49, 255, 0.304); }

.getSet-green {
  background-color: rgba(49, 248, 192, 0.304); }

.getSet-yellow {
  background-color: rgba(254, 254, 47, 0.304); }

.getSet-pink-codeBlock {
  background-color: #f831ff;
  margin-left: 0; }

.getSet-green-codeBlock {
  background-color: #31f8c0;
  margin-left: 0; }

.getSet-yellow-codeBlock {
  background-color: #fefe2f;
  margin-left: 0; }

.api_sections_expanded_usp {
  margin-top: 30px;
  margin-bottom: 50px; }

.api_sections_expanded_codeBlock {
  border-radius: 5px;
  background-color: #282c34;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 60px; }
  .api_sections_expanded_codeBlock p {
    color: #b1b1b1; }

.api_sections_expanded_codeBlock_comment {
  color: #747677 !important; }

pre {
  margin: 0; }

.hljs {
  padding: 2px; }

.footer_line {
  width: 80vw;
  border-bottom: 1px solid #ececec;
  opacity: .4;
  margin-top: 130px; }

.hero_graphic_colorcubes-mobile {
  display: none; }

.codeblock-dtw {
  display: block; }

.codeblock-mobile {
  display: none; }

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: flex-end; }
  .hero_copy {
    width: 100vw; }
  .hero_graphic {
    width: 100vw;
    align-items: flex-start;
    height: 300px; }
  .hero_devs {
    height: 60%;
    margin-top: 84px; }
  .hero_graphic_colorcubes-dtw {
    display: none; }
  .hero_graphic_colorcubes-mobile {
    display: flex;
    position: absolute;
    left: 0;
    top: 21px;
    height: 100%;
    width: 100vw;
    object-fit: fill; }
  .partners_list {
    flex-direction: column; }
  .product_apis_featureList {
    flex-direction: column;
    margin-bottom: 50px; }
  .hero_copy_buttons {
    flex-direction: column; }
  .hero_copy_buttons_button {
    margin-bottom: 18px; }
  .why_reason {
    flex-direction: column;
    margin-bottom: 100px; }
  .why_reason_info_tags {
    margin-top: 40px;
    display: block; }
  .why_reason_info_tag {
    float: left;
    margin-bottom: 12px; }
  .why_reason_icon {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px; }
    .why_reason_icon img {
      width: 50%; }
  .why_reason_icon-right {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px; }
    .why_reason_icon-right img {
      width: 50%; }
  .why_reason_info {
    width: 90%; }
  .switch_why {
    flex-direction: column-reverse; }
  .hero_copy_cloud {
    position: absolute;
    top: 152px;
    left: 24px;
    width: 120px;
    z-index: 1; }
  .hero_copy_wrapper {
    width: 84%; }
  .partners_wrapper {
    width: 84%; }
  .section_blurb {
    width: 90%; }
    .section_blurb h3 {
      font-size: 20px;
      line-height: 34px; }
  .apis_popout {
    padding: 60px 25px; }
  .product_apis_featureList_features {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px; }
    .product_apis_featureList_features h5 {
      text-align: left;
      margin-bottom: 6px; }
    .product_apis_featureList_features p {
      text-align: left; }
  .feature_icon {
    width: 64px; }
  .product_apis_featureList_features_copy {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 26px; }
  .partners_list-daostack {
    width: 88px !important; }
  .partners_list-foam {
    width: 88px !important; }
  .partners_list_wrapper {
    margin-bottom: 30px; }
    .partners_list_wrapper img {
      width: 54px; }
  .hub_popout {
    flex-direction: column; }
  .hub_popout_profile {
    width: 100%;
    margin-bottom: 60px; }
  .hub_popout_profile_card {
    width: 100%; }
  .hub_popout_info {
    width: 100%; }
  .hub_popout_info_wrapper {
    width: 100%;
    align-items: center; }
  .join h3 {
    width: 80%; }
  .footer_wrapper {
    flex-direction: column;
    width: 60vw; }
  .footer_lane {
    width: 100%;
    margin-bottom: 30px; }
  .landing_nav_apiLink {
    margin-right: 0; }
  .api_main {
    flex-direction: column-reverse;
    height: 90vh;
    justify-content: flex-end; }
  .api_sections_wrapper {
    width: 92%; }
    .api_sections_wrapper img {
      width: 40px;
      margin-right: 12px; }
    .api_sections_wrapper p {
      font-size: 14px;
      line-height: 20px;
      width: 162px; }
    .api_sections_wrapper button {
      padding: 0; }
    .api_sections_wrapper h3 {
      width: 110px; }
  .openSectionButton {
    width: 20px !important; }
  .openSection {
    height: 1320px; }
  .api_sections_expanded_wrapper {
    width: 90%; }
  .api_sections_expanded code {
    font-size: 12px;
    width: 100%; }
  .codeblock-dtw {
    display: none; }
  .codeblock-mobile {
    display: block; }
  .api_sections_expanded_codeBlock {
    overflow: scroll; } }
