@import "../../variables.scss";


.landing_page {
  background-color: white;

  p,
  li {
    line-height: 24px;
    font-size: 16px;
    color: $lightFont;
  }
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_copy {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_copy_wrapper {
  width: 70%;

  h1 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  p {
    line-height: 28px;
    margin-bottom: 30px;
  }
}

.hero_copy_cloud {
  margin-bottom: 20px;
}

.hero_graphic {
  width: 35vw;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  button {
    z-index: 2;
  }
}

.hero_graphic_colorcubes {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 90vh;
}

.hero_devs {}

.hero_copy_buttons {
  display: flex;

  img {
    width: 14px;
  }
}

.hero_copy_buttons_button {
  margin-right: 18px;
}

.hero_graphic_discord {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;

  img {
    margin-left: 0;
    width: 36px;
  }
}

.partners {
  width: 100vw;
  background-color: $threeBoxBlack;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h4 {
    color: $lightestFont;
    font-weight: 300;
    position: absolute;
    top: 130px;
    font-size: 18px;
  }
}

.partners_wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.partners_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.apis_popout {
  margin-top: -100px;
  background-color: white;
  border-radius: 8px;
  width: 90vw;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  p {
    font-size: 18px;
    color: $threeBoxBlue;
    letter-spacing: 1.4px;
  }
}

.section_line {
  width: 70px;
  height: 3px;
  background-color: $threeBoxBlue;
  margin-bottom: 20px;
}

.turquoise_line {
  background-color: #31F8C0;
  margin-bottom: 36px;

}

.pink_line {
  background-color: #F931FF;
  margin-bottom: 36px;

}

.purple_line {
  background-color: #8940FF;
  margin-bottom: 36px;

}

.section_blurb {
  width: 70%;

  h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 70px;
    line-height: 46px;
  }
}

.product_apis_featureList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.product_apis_featureList_features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px 20px;
  box-sizing: border-box;

  p {
    text-align: center;
    margin-bottom: 18px;
  }

  h5 {
    font-size: 18px;
    margin-bottom: 18px;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    color: $threeBoxBlue;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-left: 8px;
    }
  }
}

.feature_icon {
  margin-bottom: 40px;
}

.feature_link_arrow {
  width: 10px;
}

.api_buildBetter {
  p {
    font-size: 24px;
    color: $lightestFont;
  }
}

.why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 100px;
}

.why_reason {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.why_reason_info {
  width: 60%;

  h4 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 34px;
  }
}

.why_reason_icon {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
  }
}

.why_reason_info_tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 26px
}

.why_reason_info_tag {
  background-color: $threeBoxBlack;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 10px;

  p {
    color: white !important;
  }

  // border: solid 2px $threeBoxBlack;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.hub {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.hub_popout {
  background: #fefe2f;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #fefe2f 0%, #f931ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefe2f', endColorstr='#f931ff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 8px;
  width: 90vw;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

.hub_popout_profile {
  width: 40%;
}

.hub_popout_info {
  width: 60%;
}

.profile_card {
  background-color: white;
  border-radius: 8px;
  width: 70%;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

.join {
  width: 100vw;
  background-color: $threeBoxBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 0;

  h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 46px;
    color: white;
  }

  p {
    color: $lightestFont;
    margin-bottom: 80px;
  }

  input {
    height: 46px;
    width: 300px;
    border-radius: 5px;
    border: none;
  }
}

.footer_section {
  width: 80vw;
  height: 1px;
  color: $lightFont;
}

footer {
  width: 100vw;
  background-color: $threeBoxBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 200px 0;
  // flex-direction: column;
}

.footer_wrapper {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer_logo {
  width: 90px;
  height: 40px;
}

.footer_lane {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

// API CSS
.api_main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.api_sections {
  cursor: pointer;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $borderColor;
}

.api_sections_wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.api_sections_expanded {
  background-color: $backgroundHue;
  border-top: 1px solid $borderColor;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: height .3s ease-in-out;
}

.openSection {
  height: 1222px;
}

.openSectionButton {
  transform: rotate(0deg);
  transition: all .3s ease-in-out;
}

.flipOpenSectionButton {
  transform: rotate(180deg);
}

.api_sections_expanded_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 0;
}

.api_sections_expanded_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  h4 {
    font-size: 18px;
  }
}

.api_sections_expanded_header_getSet {
  display: flex;
}

.getSet {
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 10px;

  p {
    color: white !important;
  }
}

.getSet-pink {
  background-color: rgba(248, 49, 255, 0.304);
}

.getSet-green {
  background-color: rgba(49, 248, 192, 0.304);
}

.getSet-yellow {
  background-color: rgba(254, 254, 47, 0.304);
}

.getSet-pink-codeBlock {
  background-color: rgb(248, 49, 255);
  margin-left: 0;
}

.getSet-green-codeBlock {
  background-color: rgb(49, 248, 192);
  margin-left: 0;
}

.getSet-yellow-codeBlock {
  background-color: rgb(254, 254, 47);
  margin-left: 0;
}

.api_sections_expanded_usp {
  margin-top: 30px;
  margin-bottom: 50px;
}

.api_sections_expanded_codeBlock {
  border-radius: 5px;
  background-color: #282c34;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 60px;

  p {
    color: $lightestFont;
  }
}

.api_sections_expanded_codeBlock_comment {
  color: $lighterFont !important;
}

pre {
  margin: 0;
}

.hljs {
  padding: 2px;
}