@import "../../variables.scss";


.landing_page {
  background-color: white;

  transition: all .3s ease-in-out;

  p,
  li {
    line-height: 24px;
    font-size: 16px;
    color: $lightFont;
  }
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_copy {
  width: 65vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero_text {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.api_main_wrapper {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_copy_wrapper {
  width: 70%;

  h1 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  p {
    line-height: 28px;
    margin-bottom: 30px;
  }
}

.main_wrapper {
  width: 76vw;
  min-width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_copy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 54%;

  h1 {
    margin-bottom: 20px;
  }
}

.dapp_usp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 60px;
}

.dapp_usp_feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;

  img {
    margin-right: 14px;
  }

  h3 {}
}

.main_profileCard_card {
  width: 86%;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  margin-bottom: 30px;
  border-radius: 8px;
  max-height: 400px;
  width: auto;
}

.main_profileCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 36%;

  button {
    width: 86%;
    max-width: 288px;
    min-width: 288px;
  }
}

.partners_list-daostack {
  width: 94px !important;
}

.partners_list-foam {
  width: 94px !important;
}

.dapp_screens {
  position: relative;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background: #fefe2f;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #fefe2f 0%, #f931ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefe2f', endColorstr='#f931ff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
}

.dapp_screens_devices {
  z-index: 1;
}

.dapp_screens_bg {
  position: absolute;
  min-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.dapp_main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_copy_cloud {
  margin-bottom: 20px;
}

.hero_graphic {
  width: 35vw;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  button {
    z-index: 2;
  }
}

.hero_graphic_colorcubes-dtw {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 90vh;
}

.hero_copy_buttons {
  display: flex;

  img {
    width: 14px;
  }
}

.hero_copy_buttons_button {
  margin-right: 18px;
}

.hero_graphic_discord {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 15vh;
  right: 5vw;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  z-index: 5;

  img {
    margin-left: 0;
    width: 36px;
  }
}

.partners {
  width: 100vw;
  background-color: $threeBoxBlack;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h4 {
    color: $lightestFont;
    font-weight: 300;
    position: absolute;
    top: 60px;
    font-size: 18px;
  }
}

.partners_wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.partners_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners_list_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  img {
    width: 60px;
  }
}

.apis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.apis_popout {
  margin-top: -100px;
  background-color: white;
  border-radius: 8px;
  width: 90vw;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  min-width: 950px;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  p {
    font-size: 18px;
    color: $threeBoxBlue;
    letter-spacing: 1.4px;
  }
}

.main_section {
  font-size: 18px;
  color: $threeBoxBlue !important;
  letter-spacing: 1.4px;
  margin-bottom: 6px;
}

.section_line {
  width: 70px;
  height: 3px;
  background-color: $threeBoxBlue;
  margin-bottom: 20px;
}

.turquoise_line {
  background-color: #31F8C0;
  margin-bottom: 36px;

}

.pink_line {
  background-color: #F931FF;
  margin-bottom: 36px;

}

.purple_line {
  background-color: #8940FF;
  margin-bottom: 36px;

}

.section_blurb {
  width: 50%;

  h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 140px;
    line-height: 46px;
  }
}

.product_apis_featureList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.product_apis_featureList_features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px 20px;
  box-sizing: border-box;

  p {
    text-align: center;
    margin-bottom: 18px;
    width: 60%;
  }

  h5 {
    font-size: 18px;
    margin-bottom: 18px;
    text-align: center;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    color: $threeBoxBlue;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-left: 8px;
    }
  }
}

.feature_icon {
  margin-bottom: 40px;
}

.feature_link_arrow {
  width: 10px;
}

.api_buildBetter {
  p {
    font-size: 24px;
    color: $lightestFont;
  }
}

.why {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 100px;
}

.why_reason {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}

.why_reason_info {
  width: 60%;

  h4 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 34px;
  }
}

.why_reason_icon {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 80%;
  }
}

.why_reason_icon-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 80%;
  }
}

.why_reason_info_tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 26px
}

.why_reason_info_tag {
  background-color: $threeBoxBlack;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 10px;

  p {
    color: white !important;
  }

  // border: solid 2px $threeBoxBlack;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.hub {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.hub_popout {
  // background-position: -80px 0px;
  background: #fefe2f;
  /* Old browsers */
  background: -moz-radial-gradient(20%, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(20%, ellipse cover, #fefe2f 0%, #f931ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at 20%, #fefe2f 0%, #f931ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefe2f', endColorstr='#f931ff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 8px;
  width: 90vw;
  padding: 60px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

.hub_popout_profile {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hub_popout_info {
  width: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_apis_featureList_features_copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hub_popout_info_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  h5 {
    font-weight: 400;
    opacity: .7;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 32px;
  }

  button {
    width: 180px;
  }
}

.hub_popout_profile_card {
  border-radius: 8px;
  width: 60%;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

.join {
  width: 100vw;
  background-color: $threeBoxBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 0 0 0;

  h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 46px;
    color: white;
  }

  p {
    color: $lightestFont;
    margin-bottom: 80px;
  }
}

.join_input div {
  display: flex;
  align-items: center;

  input {
    height: 60px;
    width: 400px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    box-sizing: border-box;
  }

  button {
    display: flex;
    align-items: center;
    margin-left: -92.5px;
    height: 42px;
    padding: 0 20px;
  }
}

.footer_section {
  width: 80vw;
  height: 1px;
  color: $lightFont;
}

footer {
  width: 100vw;
  background-color: $threeBoxBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 280px 0;
  position: relative;
  // flex-direction: column;
}

.footer_wrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer_logo {
  width: 90px;
  height: 40px;
}

.footer_lane {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  h5 {
    color: white;
    margin-bottom: 34px;
    font-size: 16px;
    font-weight: 300;
  }

  a {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 300;
    color: $lightFont;
  }

  p {
    margin-bottom: 16px;
  }

  button {
    border-color: $lightFont;
  }
}

.rightLane {
  align-items: flex-end;
  justify-content: space-between;
  height: 272px;
}

// API CSS
.api_main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.api_sections {
  cursor: pointer;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $borderColor;
}

.api_sections_wrapper {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.api_sections_expanded {
  background-color: $backgroundHue;
  // border-top: 1px solid $borderColor;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: height .3s ease-in-out;
}

.openSection {
  height: 1222px;
  border-top: 1px solid $borderColor;
}

.openSectionButton {
  transform: rotate(0deg);
  transition: all .3s ease-in-out;
}

.flipOpenSectionButton {
  transform: rotate(180deg);
}

.api_sections_expanded_wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 0;
}

.api_sections_expanded_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  h4 {
    font-size: 18px;
  }
}

.api_sections_expanded_header_getSet {
  display: flex;
}

.getSet {
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 10px;

  p {
    color: white !important;
  }
}

.getSet-pink {
  background-color: rgba(248, 49, 255, 0.304);
}

.getSet-green {
  background-color: rgba(49, 248, 192, 0.304);
}

.getSet-yellow {
  background-color: rgba(254, 254, 47, 0.304);
}

.getSet-pink-codeBlock {
  background-color: rgb(248, 49, 255);
  margin-left: 0;
}

.getSet-green-codeBlock {
  background-color: rgb(49, 248, 192);
  margin-left: 0;
}

.getSet-yellow-codeBlock {
  background-color: rgb(254, 254, 47);
  margin-left: 0;
}

.api_sections_expanded_usp {
  margin-top: 30px;
  margin-bottom: 50px;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;

    img {
      margin-right: 12px;
    }
  }
}

.api_sections_expanded_codeBlock {
  border-radius: 5px;
  background-color: #282c34;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 60px;

  p {
    color: $lightestFont;
  }
}

.api_sections_expanded_codeBlock_comment {
  color: $lighterFont !important;
}

pre {
  margin: 0;
}

.hljs {
  padding: 2px;
}

.footer_line {
  width: 80vw;
  border-bottom: 1px solid $borderColor;
  opacity: .4;
  margin-top: 200px;
}

.hero_graphic_colorcubes-mobile {
  display: none;
}

.codeblock-dtw {
  display: block;
}

.codeblock-mobile {
  display: none;
}

.footer_privacy {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0;
    font-size: 14px;
  }

  p {
    margin: 0 8px;
    font-size: 14px;
  }
}

.footer_copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    font-size: 14px;
    margin: 4px 0 0 0;
  }
}

.footer_mollie {
  position: absolute;
  bottom: 0;
  right: 20vw;
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .hero_copy {
    width: 100vw;
    justify-content: center;
  }

  .hero_text {
    width: 100vw;
    justify-content: center;
  }

  .hero_graphic {
    width: 100vw;
    align-items: flex-start;
    height: 300px;
  }

  .hero_devs {
    height: 60%;
    margin-top: 84px;
  }

  .hero_graphic_colorcubes-dtw {
    display: none;
  }

  .hero_graphic_colorcubes-mobile {
    display: flex;
    position: absolute;
    left: 0;
    top: 21px;
    height: 100%;
    width: 100vw;
    object-fit: fill;
  }

  .partners_list {
    flex-direction: column;
  }

  .product_apis_featureList {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .hero_copy_buttons {
    flex-direction: column;
  }

  .hero_copy_buttons_button {
    margin-bottom: 18px;
  }

  .why_reason {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .why_reason_info_tags {
    margin-top: 40px;
    display: block;
  }

  .why_reason_info_tag {
    float: left;
    margin-bottom: 12px;
  }

  .why_reason_icon {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;

    img {
      width: 50%;
    }
  }

  .why_reason_icon-right {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;

    img {
      width: 50%;
    }
  }

  .why_reason_info {
    width: 90%;
  }

  .switch_why {
    flex-direction: column-reverse;
  }

  .hero_copy_cloud {
    position: absolute;
    top: 152px;
    left: 24px;
    width: 120px;
    z-index: 1;
  }

  .hero_copy_wrapper {
    width: 84%;
  }

  .partners_wrapper {
    width: 84%;
  }

  .section_blurb {
    width: 90%;

    h3 {
      font-size: 20px;
      line-height: 34px;
    }
  }

  .apis_popout {
    padding: 60px 25px;
    min-width: 90vw;
  }

  .product_apis_featureList_features {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;

    h5 {
      text-align: left;
      margin-bottom: 6px;
    }

    p {
      text-align: left;
    }
  }

  .feature_icon {
    width: 64px;
  }

  .product_apis_featureList_features_copy {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 26px;
  }

  .partners_list-daostack {
    width: 88px !important;
  }

  .partners_list-foam {
    width: 88px !important;
  }

  .partners_list_wrapper {
    margin-bottom: 30px;

    img {
      width: 54px;
    }
  }

  .hub_popout {
    flex-direction: column;
  }

  .hub_popout_profile {
    width: 100%;
    margin-bottom: 60px;
  }

  .hub_popout_profile_card {
    width: 100%;
  }

  .hub_popout_info {
    width: 100%;
  }

  .hub_popout_info_wrapper {
    width: 100%;
    align-items: center;
  }

  .join {
    h3 {
      width: 80%;
    }
  }

  .footer_wrapper {
    flex-direction: column;
    width: 68vw;
  }

  .footer_lane {
    width: 100%;
    margin-bottom: 30px;
  }

  .landing_nav_apiLink {
    margin-right: 0;
  }

  .api_main {
    flex-direction: column-reverse;
    height: 90vh;
    justify-content: flex-end;
  }

  .api_sections_wrapper {
    width: 92%;

    img {
      width: 40px;
      margin-right: 12px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      width: 162px;
    }

    button {
      padding: 0;
    }

    h3 {
      width: 110px;
    }
  }

  .openSectionButton {
    width: 20px !important;
  }

  .openSection {
    height: 1320px;
  }

  .api_sections_expanded_wrapper {
    width: 90%;
  }

  .api_sections_expanded {
    code {
      font-size: 12px;
      width: 100%;

      // display: block;
      // float: left;

      // span {
      //   float: left;
      // }
    }
  }

  .codeblock-dtw {
    display: none;
  }

  .codeblock-mobile {
    display: block;
  }

  .api_sections_expanded_codeBlock {
    overflow: scroll;
  }

  .main_wrapper {
    flex-direction: column-reverse;
    width: 90vw;
    min-width: 90vw;
  }

  .dapp_main {
    padding-top: 26px;
    height: 148vh;
  }

  .main_profileCard {
    width: 100%;
  }

  .main_copy {
    width: 80%;
    margin-top: 56px;
  }

  .dapp_screens_devices {
    width: 90%;
  }

  .api_main_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .join_input div {
    input {
      width: 82vw;
      margin-left: -8px;
    }

    button {
      margin-left: -98.5px;
    }
  }

  .rightLane {
    align-items: flex-start;
    height: 240px;
  }

  .footer__gutter__social a {
    margin: 0 12px 0 0 !important;
  }

  .footer_privacy {
    justify-content: flex-start;
  }

  .footer_copyright {
    justify-content: flex-start;
  }

  .footer_mollie {
    width: 150px;
    right: 10vw;
  }
}