#profile {
  width: calc(50vw - 350px);
  min-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  #profile p {
    color: #6b6b6b; }

#profile__fixed {
  position: sticky;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%; }

.profile__user__emoji {
  height: 24px; }
  .profile__user__emoji img {
    height: 24px;
    margin-left: 6px; }

.profile__basic__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2px; }

.profile__basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 12px;
  width: 230px; }

.profile__basic__emoji {
  font-size: 26px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile__basic__description {
  width: 200px;
  line-height: 20px;
  text-align: center !important;
  height: fit-content;
  word-break: normal; }

.profile__coverPhoto {
  position: absolute;
  top: 69px;
  width: 100vw;
  height: 174px;
  background-color: #C5D7F2;
  z-index: -1;
  object-fit: cover;
  transition: all ease .5s; }

.profile__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 20px 0;
  width: 200px; }

.profile__category--mobile {
  display: none; }

.profile__category__sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.profile__category__header {
  margin-bottom: 30px;
  border-bottom: 1px solid #E4E4E4;
  padding: 20px 0 14px 20px;
  display: flex;
  justify-content: space-between; }
  .profile__category__header h5 {
    font-size: 18px;
    color: #747677;
    font-weight: 400; }

.profile__category__editLink {
  margin-right: 40px;
  color: #1168df; }

.profile__category__section {
  font-size: 1em;
  margin-bottom: 8px;
  color: #b1b1b1;
  background-color: transparent;
  border-radius: 30px;
  padding: 8px 14px;
  cursor: pointer;
  width: 100%; }
  .profile__category__section:hover {
    color: #6b6b6b; }

.active {
  background-color: #dfdfdfa6 !important;
  color: #6b6b6b; }

.profile__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 30px 0;
  width: 110px; }

.profile__links__copy {
  background-color: transparent;
  border: none;
  padding: 5px 9px;
  border: 1px solid #b1b1b1;
  border-radius: 6px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 126px;
  transition: all ease .3s;
  margin-top: 110px; }
  .profile__links__copy p {
    min-width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a2a2a2 !important; }
  .profile__links__copy:hover {
    background-color: #EFF5FE;
    background-color: white; }

.profile__links__copy__icon {
  width: 14px !important; }

#hiddenProfileURL {
  display: none; }

.profile__user__info {
  padding: 30px 50px;
  max-width: 230px;
  min-width: 230px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all ease .5s; }
  .profile__user__info p {
    text-align: left;
    font-size: 14.5px; }

.public__about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px; }

.publicProfile__basic--mobile {
  display: none; }

.public__about__header {
  color: #b1b1b1;
  font-size: 16px;
  margin: 0 0 10px 0; }

.public__about__field {
  display: flex;
  align-items: center;
  margin: 6px 0 5px 0;
  justify-content: flex-start;
  width: 300px; }
  .public__about__field p {
    color: #6b6b6b;
    width: 194px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; }

.publicStatusUpdate {
  padding: 0.3em 10px;
  margin-top: 208px; }

.publicStatusUpdate--bannerMargin {
  margin-top: 262px !important; }

#profile__page {
  height: calc(100% - 133px); }

#profile__contents {
  display: flex;
  height: 100%;
  margin-top: 69px; }

#profile__footer {
  width: 300px;
  margin-top: 33px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  z-index: 1;
  background-color: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center; }

#profile__footer__mobile {
  display: none; }

#profile__footer__contents {
  display: flex;
  justify-content: space-between;
  width: 160px; }
  #profile__footer__contents p {
    font-size: .8em;
    display: inline-block;
    margin: 1vh 0 1vh 0;
    opacity: .5; }
  #profile__footer__contents a {
    font-size: .8em;
    display: inline-block;
    margin: 1vh 0 1vh 0;
    opacity: .5; }

.profile__user__picture {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-top: 75px;
  object-fit: cover;
  border: 6px solid white;
  background-color: #006ECC; }

#profile__network__networkLogo {
  height: 19px;
  margin-right: .6em; }

#profile__network {
  float: left;
  clear: both;
  margin-bottom: 22px;
  display: flex;
  align-items: center; }
  #profile__network p {
    color: #a0a0a0; }

.profile__category__field {
  display: flex;
  align-items: center;
  margin: 5px 0 18px 0;
  display: flex;
  justify-content: flex-start;
  width: 300px;
  padding-left: 40px; }
  .profile__category__field p {
    color: #6b6b6b;
    width: 194px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; }
  .profile__category__field a {
    color: #1168df; }

.profile__category__field--private {
  width: 226px !important; }

#profile__user__name {
  font-size: 1.4em;
  white-space: nowrap;
  color: #1168df; }

#profile__user__name__add {
  font-size: 1.4em;
  margin-top: 5em;
  margin-bottom: 2vh;
  color: #747677; }

.profile__category__field__icon {
  height: 19px;
  width: 22px;
  display: inline-block;
  margin-right: 14px;
  opacity: .7; }

.profile__category__verified__icon {
  width: 16px;
  height: 16px; }

.profile__category__field__verified {
  max-width: 194px;
  width: fit-content !important;
  padding-right: 8px;
  color: #1168df;
  font-size: 14.5px; }

#profile__github {
  display: inline-block; }

#profile_edit_button {
  margin-top: 1vh;
  display: inline-block; }

#profileFooter_githubIcon {
  height: 18px;
  display: inline-block; }

#profileFooter_email {
  display: inline-block;
  height: 12px; }

#profileFooter__email__icon {
  height: 12px;
  display: inline-block;
  align-content: left;
  margin-right: .6em;
  opacity: .7; }

.loadingProfile {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.281);
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center; }

#loadingProfile__Spinner {
  width: 3em;
  height: 3em;
  z-index: 1; }

.profile__details__category {
  width: 100%;
  margin-bottom: 14px; }

@media only screen and (max-width: 600px) {
  .profile__coverPhoto {
    z-index: 0; }
  .publicStatusUpdate {
    padding: 0;
    margin: 20px 0 0 0;
    height: 80px; }
  #profile {
    position: static;
    height: auto;
    width: 100vw;
    text-align: center;
    align-items: flex-start; }
  .profile__category__header {
    padding: 30px 0 20px 20px;
    border-top: solid 1px #E4E4E4; }
  #profile__fixed {
    position: static;
    width: 100vw;
    align-items: center; }
  #profile__contents {
    display: flex;
    flex-direction: column;
    height: fit-content; }
  .publicProfile__basic--mobile {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-top: 50px; }
  #profile__user__name {
    font-size: 1.4em; }
  .profile__links__copy {
    display: none; }
  .profile__user__info {
    height: fit-content;
    max-width: 100vw;
    min-width: 100vw;
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: static;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #E4E4E4; }
  .profile__category {
    display: none; }
  .profile__category--mobile {
    display: flex;
    align-items: center;
    margin: 30px 0 -18px 0;
    width: 100%; }
  .profile__category__section {
    font-size: 1em;
    margin-bottom: 0;
    color: #b1b1b1;
    background-color: #f5f6f8;
    border-radius: 0;
    padding: 12px 18px;
    cursor: pointer;
    width: 100%; }
  .borderRight {
    border-right: 1px solid #E4E4E4; }
  .profile__category__sectionWrapper {
    background-color: white;
    flex-direction: row;
    padding: 0;
    border-top: 1px solid #E4E4E4; }
  #profile__private {
    margin-bottom: 2vh;
    margin-top: 2vh; }
  .profile__user__picture {
    margin-top: 3.4em;
    z-index: 2; }
  .active {
    background-color: white !important;
    height: 100%; }
  #profile__footer {
    display: none; }
  #profile__footer__mobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #E4E4E4;
    text-align: center;
    border-top: 1px solid #E4E4E4; }
  #profile_edit {
    position: relative;
    bottom: 0;
    margin-top: .5em;
    margin-bottom: 1.5em; } }
