@import "../../variables.scss";

#profile {
  background-color: $backgroundHue;
  height: calc(100% - 132px);
  width: 23vw;
  min-width: 270px;
  text-align: center;
  // border-right: 1px solid $borderColor;
  display: flex;
  justify-content: flex-end;
}

#profile_user_info {
  padding: 30px 35px;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // height: 100%;
  height: calc(100% - 132px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: fixed;
  top: 76px;

  p {
    text-align: left;
    font-size: .9em;
  }
}

#profile_page {
  height: 100%;
}

#profile_contents {
  display: flex;
  height: 100%;
  margin-top: 69px;
}

#profile_gutter {
  height: calc(100% - 132px);
  width: 18vw;
  background-color: $backgroundHue;
}

#profile_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  text-align: center;
}

#profile__footer__mobile {
  display: none;
}

#profile_footer_contents {
  padding: 1.2em 2em 1.2em 2em;
  display: flex;
  background-color: $backgroundHue;
  justify-content: flex-start;

  ul {
    display: flex;
    padding: 0;
    height: 20px;
    margin-bottom: .3vh;
    align-items: center;
    justify-content: flex-start;
  }

  li {
    font-weight: 100;
    text-align: left;
    margin: 0 .8vw;
    display: flex;
    flex: 1;
    align-items: center;
  }

  p {
    font-size: .8em;
    display: inline-block;
    margin: 1vh 1em 1vh 0;
    opacity: .5;
  }

  a {
    font-size: .8em;
    display: inline-block;
    margin: 1vh 1em 1vh 0;
    opacity: .5;
  }
}

#profile_user_picture {
  background-image: $defaultProfPic;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 6em;
  object-fit: cover;
}

#profile_network_networkLogo {
  height: 19px;
  margin-right: .6vw;
}

#profile_network {
  float: left;
  clear: both;
  margin-bottom: .4em;
  display: flex;
  align-items: center;
}

#profile_social {
  float: left;
  clear: both;
  opacity: .7;
  display: flex;
  align-items: center;
}

#profile_private {
  margin-bottom: 2em;
  margin-top: .8em;

  opacity: .7;
  display: flex;
  align-items: center;
}

#profile_user_name {
  font-size: 1.4em;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

#profile_user_name_add {
  font-size: 1.4em;
  margin-top: 5em;
  margin-bottom: 2vh;
  color: $lighterFont;
}

#profile_githubIcon {
  height: 19px;
  display: inline-block;
  margin-right: .6vw;
}

#profile_github {
  display: inline-block;
}

#profile_edit_button {
  margin-top: 1vh;
  display: inline-block;
}

#profileFooter_githubIcon {
  height: 18px;
  display: inline-block;
}

#profileFooter_email {
  display: inline-block;
  height: 12px;
}

#profileFooter_email_icon {
  height: 12px;
  display: inline-block;
  align-content: left;
  margin-right: 1vw;
}

@media only screen and (max-width: 600px) {
  #profile {
    position: relative;
    top: 0;
    height: 27em;
    background-color: rgb(248, 248, 248);
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
    border-right: none;
  }

  #profile_contents {
    display: flex;
    flex-direction: column;
  }

  #profile_user_info {
    padding: 3em 3vw 2em 3vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  #profile_private {
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  #profile_user_picture {
    margin-top: 0;
  }

  #profile_footer {
    display: none;
  }

  #profile__footer__mobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #E4E4E4;
    text-align: center;
    border-top: 1px solid #E4E4E4;
  }

  #profile_edit {
    position: relative;
    bottom: 0;
    margin-top: .5em;
    margin-bottom: 1.5em;
  }
}