@import "../../variables.scss";

#edit {
  width: 40vw;
  margin: 0 auto;
  margin-bottom: 20vh;
  margin-top: 6vh;
}

#goBack {
  position: absolute;
  top: 100px;
  left: 2vw;
}

#edit_user_picture {
  background-color: #3f3f3f;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: block;
}

#edit_field p {
  display: inline-block;
  margin: 0 1vw 1vw 0;
}

.edit_form {
  border: rgb(199, 199, 199) solid 1px;
  background: white;
  border-radius: 5px;
  padding: 1.7em 2em;
  margin-bottom: 4vh;

  h3 {
    margin-bottom: 1.5vh;
    font-weight: 700;
    font-size: 1em;
  }

  input {
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    border: solid 1px #E4E4E4;
    height: 44px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }

  p {
    font-size: 1.2em;
  }
}

.dateType {
  background: #ebebeb;
}

#edit_user_picture_edit {
  text-align: center;
  margin: 2.5vh 0 6vh 0;
  vertical-align: middle;

  img {
    display: inline-block;
    margin: 0;
  }

  button {
    margin: 0 0 0 2vw;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: perspective(1px) translateY(-340%);
  }
}

.edit_form_spacing {
  height: 3vh;
}

#edit_cancel {
  margin-left: 1vw;
}

.container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  padding: 1rem;
  z-index: 99;
}

.modal {
  position: absolute;
  left: 50%;
  top: 15%;
  background: white;
  transform: translate(-50%, 0);
  border: solid 1px #e8e8e8;
  border-radius: 6px;
  padding: 15px;
  // width: 50vw;
  width: 560px;
  min-height: 500px;

  p {
    position: absolute;
    top: 20px;
    left: 26px;
  }

  form {
    text-align: center;
    margin-top: 2em;
  }
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 26px;
}

#saveModal {
  position: absolute;
  bottom: 20px;
  right: 26px;
}

#fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#edit_modal_user_picture {
  margin: 0 auto;
  margin-top: 9em;
  background-color: #3f3f3f;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  display: block;
}

#chooseFile {
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: $lightFont;
}

#loadingPic {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
}

#removePic{
  position: absolute;
  top: 9em;
  right: 9em;
}