.collectiblesTile {
  background-color: white;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  height: 300px;
  position: relative;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer; }

.emptyCollectiblesTile {
  border: 2px solid #E4E4E4;
  border-radius: 6px;
  height: 300px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s; }
  .emptyCollectiblesTile h4 {
    width: 70%;
    color: #b1b1b1;
    text-align: center; }
  .emptyCollectiblesTile:hover {
    background-color: #f3f3f3; }

.collectibles__image__wrapper {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .collectibles__image__wrapper button {
    position: absolute;
    top: 15px;
    right: 15px; }
  .collectibles__image__wrapper h4 {
    text-align: center;
    width: 60%;
    color: #747677; }

.collectibles__image {
  height: 100%; }

.padded {
  height: 75% !important; }

.collectibles__like {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #1168df;
  font-size: 34px; }
  .collectibles__like img {
    width: 30px; }
  .collectibles__like:hover {
    background-color: transparent; }
    .collectibles__like:hover .collectibles__like__heart {
      opacity: 1; }

.collectibles__like__heart {
  opacity: .6; }

.collectibles__info {
  border-top: 1px solid #E4E4E4;
  height: calc(30% - 25px);
  padding: 10px 15px 15px 15px; }
  .collectibles__info h3 {
    margin-bottom: 7px; }
  .collectibles__info p {
    color: #b1b1b1; }

.collectibles__wrapper {
  justify-content: flex-start !important; }

.collectibles__grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 33.33333% [col-start]);
  width: 684px;
  max-width: 684px;
  margin-bottom: 26px;
  column-gap: 15px;
  row-gap: 20px; }

@media only screen and (max-width: 1278px) {
  .collectibles__grid {
    left: 350px; } }

@media only screen and (max-width: 600px) {
  .statusUpdate {
    margin-top: 30px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0;
    margin-left: 0; }
    .statusUpdate input {
      padding: 10px 10px; }
  .statusUpdate--bannerMargin {
    margin-top: 310px !important; }
  .profile__details {
    padding: 0 !important;
    max-width: 100vw;
    min-width: 100vw;
    margin-top: 18px !important; }
  .hideStatusButton {
    display: block; }
  .feed__activity__tile {
    width: 100%;
    padding: 18px 0;
    border-radius: 0;
    background-color: white;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-left: none;
    border-right: none; }
  .feed__activity {
    margin-left: 0;
    display: flex;
    padding: 11px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-left: none;
    border-right: none; }
  .feed__activity__data {
    padding: 0;
    width: 94%;
    align-items: flex-start;
    flex-direction: column; }
  .hideUpdateOnMobile {
    display: none; }
  .feed__activity__info {
    max-width: 100%;
    width: 100%;
    padding: 0; }
    .feed__activity__info img {
      margin-right: 7px; }
    .feed__activity__info p {
      width: 300px;
      word-wrap: break-word; }
  .feed__activity__image {
    width: 100%;
    min-width: 100%;
    border-radius: 0; }
  #feed {
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    border: none;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 18px;
    margin-left: 0; }
  .feed__activity__metaData {
    width: 100%;
    justify-content: flex-end;
    margin-top: 8px; }
  #feed__header {
    padding: 30px 0 20px 20px; }
  .publicHeader {
    display: none; }
  .feed__activity__context {
    padding: 0 10px;
    white-space: nowrap; }
  .feed__activity__address {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%; }
    .feed__activity__address h4 {
      width: 94%;
      overflow-x: scroll; }
  .feed__activity__address__wrapper {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-self: flex-start; }
  .feed__activity__header {
    background-color: #f5f6f8; }
    .feed__activity__header h4 {
      width: 100%;
      overflow-x: scroll; }
  .whiteBG {
    background-color: white !important; }
  .feed__activity__address__time {
    width: 26%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll; }
  .feed__activity__address__amount {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll; }
  .feed__activity__address__dataType {
    width: 18px; }
  .feed__activity__address__toFrom {
    width: 15%; }
  .feed__activity__address__function {
    width: 13%; }
  .feed__footer {
    margin-bottom: 28px; } }
