@import "../../variables.scss";

.collectiblesTile {
  background-color: white;
  border: 1px solid $borderColor;
  border-radius: 6px;
  height: 300px;
  position: relative;
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  cursor: pointer;

  &:hover .collectibles__like__heart {
    opacity: .8;
  }
}

.collectibles__like__heart {
  opacity: 0;
}

.emptyCollectiblesTile {
  border: 1px solid $borderColor;
  border-radius: 6px;
  height: 300px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;

  h4 {
    width: 70%;
    color: $lightestFont;
    text-align: center;
  }

  &:hover {
    background-color: #f3f3f3;
  }
}

.collectibles__image__wrapper {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;

  button {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  h4 {
    text-align: center;
    width: 60%;
    color: $lighterFont;
  }
}

.collectibles__image {
  height: 100%;
}

.collectibles__image__shadow {
  background: #000000;
  width: 120px;
  height: 10px;
  border-radius: 50%;
  opacity: .2;
  position: absolute;
  bottom: 10px;
  filter: blur(2px);
}

.padded {
  height: 75% !important;
}

.collectibles__like {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #C6C6C6;
  font-size: 34px;

  img {
    width: 22px;
  }

  &:hover {
    background-color: transparent;
  }
}

.collectibles__info {
  border-top: 1px solid $borderColor;
  height: calc(30% - 25px);
  padding: 10px 15px 15px 15px;

  h3 {
    margin-bottom: 7px;
  }

  p {
    color: $lightestFont;
  }
}

.collectibles__wrapper {
  justify-content: flex-start !important;
}

.collectibles__grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 33.333333333% [col-start]);
  width: 684px;
  max-width: 684px;
  margin-bottom: 26px;
  column-gap: 15px;
  row-gap: 20px;
}

@media only screen and (max-width: 1278px) {
  .collectibles__grid {
    left: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .statusUpdate {
    margin-top: 30px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0;
    margin-left: 0;

    input {
      padding: 10px 10px;
    }
  }

  .statusUpdate--bannerMargin {
    margin-top: 310px !important;
  }

  .profile__details {
    padding: 0 !important;
    max-width: 100vw;
    min-width: 100vw;
    margin-top: 18px !important;
  }

  .hideStatusButton {
    display: block;
  }

  .feed__activity__tile {
    width: 100%;
    padding: 18px 0;
    border-radius: 0;
    background-color: white;
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    border-left: none;
    border-right: none;
  }

  .feed__activity {
    margin-left: 0;
    display: flex;
    padding: 11px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    border-left: none;
    border-right: none;
  }

  .feed__activity__data {
    padding: 0;
    width: 94%;
    align-items: flex-start;
    flex-direction: column;
  }

  .hideUpdateOnMobile {
    display: none;
  }

  .feed__activity__info {
    max-width: 100%;
    width: 100%;
    padding: 0;
    // flex-direction: column;

    img {
      margin-right: 7px;
    }

    p {
      width: 300px;
      word-wrap: break-word;
    }
  }

  .feed__activity__image {
    width: 100%;
    min-width: 100%;
    border-radius: 0;
  }

  #feed {
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    border: none;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 18px;
    margin-left: 0;
  }

  .feed__activity__metaData {
    width: 100%;
    justify-content: flex-end;
    margin-top: 8px;
  }

  #feed__header {
    padding: 30px 0 20px 20px;
  }

  .publicHeader {
    display: none;
  }

  .feed__activity__context {
    padding: 0 10px;
    white-space: nowrap;
  }

  .feed__activity__address {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;


    h4 {
      width: 94%;
      overflow-x: scroll;
    }
  }

  .feed__activity__address__wrapper {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .feed__activity__header {
    background-color: $backgroundHue;

    h4 {
      width: 100%;
      overflow-x: scroll;
    }
  }

  .whiteBG {
    background-color: white !important;
  }

  .feed__activity__address__time {
    width: 26%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity__address__amount {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity__address__dataType {
    width: 18px;
  }

  .feed__activity__address__toFrom {
    width: 15%;
  }

  .feed__activity__address__function {
    width: 13%;
  }

  .feed__footer {
    margin-bottom: 28px;
  }
}