.statusUpdate {
  background-color: white;
  max-width: 694px;
  min-width: 694px;
  height: 50px;
  padding: 10px 10px;
  margin-top: 136px;
  top: 194px;
  left: calc(50vw - 350px);
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
  margin-left: 13px; }
  .statusUpdate ul {
    padding: 0; }
  .statusUpdate li {
    display: inline-block;
    text-align: center;
    overflow: scroll; }

.statusUpdate--bannerMargin {
  margin-top: 262px !important; }

.statusUpdate__field {
  border-style: none;
  border: none;
  width: 100%;
  font-size: 1.1em;
  background-color: white;
  height: 44px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .statusUpdate__field:focus {
    outline: none; }
  .statusUpdate__field::placeholder {
    color: #a8a8a8; }

.statusUpdate__displayPublic {
  width: 100%;
  font-size: 1.1em;
  height: 44px;
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px; }

.statusUpdate:hover .hideStatusButton {
  display: block; }

.hideStatusButton {
  display: none; }

.statusUpdate__button {
  margin: 0 20px 0 10px;
  background: transparent;
  color: #b8b8b8;
  padding: 0;
  transition: color .8s ease;
  border: none; }
  .statusUpdate__button:hover {
    background: transparent; }

.statusUpdate__button--remove:hover {
  color: #E78888; }

.statusUpdate__button--cancel:hover {
  color: #6b6b6b; }

.statusUpdate__button--save:hover {
  color: #67cc7d; }

.statusUpdate__loading {
  background: white;
  width: 700px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }
  .statusUpdate__loading img {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px; }

#feed {
  max-width: calc(694px + 20px) !important;
  min-width: calc(694px + 20px) !important;
  left: calc(50vw - 350px);
  margin-top: 18px;
  min-height: 610px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  justify-content: space-between;
  margin-left: 13px; }
  #feed ul {
    padding: 0; }
  #feed li {
    display: inline-block;
    text-align: center;
    overflow: scroll; }

.profile__details {
  padding: 0 !important;
  max-width: calc(694px + 2.6em) !important;
  min-width: calc(694px + 2.6em) !important;
  background-color: white;
  border: solid 1px #E4E4E4;
  border-radius: 6px; }

.feed__activity__user {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  object-fit: cover;
  margin-right: 15px;
  background-color: #1168df;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.feed__activity__userWrapper {
  position: relative; }

.feed__activity__threeBoxEmblem {
  background-color: #1168df;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -4px;
  right: 14px; }

.clear {
  background-color: transparent !important; }

#feed__header {
  font-size: 18px;
  line-height: 24px !important;
  color: #747677;
  font-weight: 400;
  margin-bottom: 6px;
  padding: 20px 0 14px 20px; }

.feed__activity__tile {
  margin-bottom: 16px;
  border: 1px solid #E4E4E4;
  padding: 15px;
  width: 95.4%;
  border-radius: 6px;
  background-color: white; }

.feed__activity__info__key {
  min-width: fit-content;
  margin-right: 4px; }

.feed__activity__info__token {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 800;
  margin-right: 6px; }

.sentCurrency {
  color: #ca2641 !important; }

.receivedCurrency {
  color: #22bd6f !important; }

.feed__activity__info__value {
  font-weight: 500;
  max-width: 52%;
  word-wrap: break-word;
  font-weight: 800;
  margin-right: 6px; }

.feed__activity__data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; }

.feed__activity__address__amount__emoji {
  height: 34px;
  margin-left: 6px;
  font-size: 24px;
  padding-top: 6px; }

.feed__activity__context {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
  padding: 0; }
  .feed__activity__context:hover h4 {
    text-decoration: underline; }

.feed__activity__context__network {
  min-width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500; }

.logo__icon {
  width: 2.1em;
  height: 2.1em;
  border-radius: 4px;
  background-color: #006ECC;
  display: flex;
  align-items: center;
  justify-content: center; }
  .logo__icon h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700; }

.feed__activity__image {
  border-radius: 6px;
  min-width: 654px;
  width: 654px;
  margin: 0;
  object-fit: cover;
  background-color: #006ECC;
  margin-top: 20px; }

.logo__icon--footer {
  width: 2.1em;
  height: 2.1em;
  border-radius: 4px;
  background-color: #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; }
  .logo__icon--footer h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700; }

.feed__footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: center; }

.feed__activity__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .feed__activity__header h4 {
    margin-bottom: .2em;
    color: #1168df; }
  .feed__activity__header p {
    color: #747677; }

.feed__activity__text {
  width: 96%; }

.feed__activity__info__method {
  font-weight: 600; }

.feed__activity__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .feed__activity__address h4 {
    margin-bottom: .2em; }
  .feed__activity__address p {
    color: #747677; }

.feed__activity__address__type {
  color: #b1b1b1 !important;
  font-size: 13px; }

.feed__activity__data__icon {
  width: 24px;
  min-width: 24px;
  margin-right: 16px;
  height: 25px; }

.feed__activity__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80%;
  width: 80%;
  padding-top: 3px; }
  .feed__activity__info div {
    width: 24px;
    min-width: 24px;
    margin-right: 18px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500; }

.feed__activity {
  display: flex;
  align-items: center;
  margin-top: 11px;
  padding: .8em .8em;
  border-radius: 4px;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f9f9;
  border: solid 1px #E4E4E4; }
  .feed__activity:hover {
    background-color: #efefef; }

.feed__activity__address__dataType {
  width: 18px;
  display: flex;
  align-items: center; }

.feed__activity__address__dataType--ethereum {
  width: .9em !important; }

.feed__activity__address__function {
  width: 130px;
  overflow: scroll; }

.feed__activity__address__toFrom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 130px; }
  .feed__activity__address__toFrom img {
    width: 1em;
    margin-right: 1vw; }

.feed__activity__metaData {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 23%;
  align-self: flex-start;
  padding-top: 3px; }

.saveDelete img {
  width: .8em !important; }

.feed__activity__address__amount {
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
  font-weight: 800; }

.feed__activity__address__time {
  width: 80%;
  justify-content: flex-end;
  padding-right: 12px;
  align-items: center;
  display: flex;
  color: #b8b8b8 !important;
  font-size: 12px !important; }

.feed__activity__load {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 80px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  border: solid 1px #E4E4E4; }
  .feed__activity__load p {
    color: #747677; }

#activityLoad {
  width: 3em;
  height: 3em; }

@media only screen and (max-width: 1278px) {
  #feed {
    left: 350px; }
  .statusUpdate {
    left: 350px; } }

@media only screen and (max-width: 600px) {
  .statusUpdate {
    margin-top: 30px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0;
    margin-left: 0; }
    .statusUpdate input {
      padding: 10px 10px; }
  .statusUpdate--bannerMargin {
    margin-top: 310px !important; }
  .profile__details {
    padding: 0 !important;
    max-width: 100vw;
    min-width: 100vw;
    margin-top: 18px !important; }
  .hideStatusButton {
    display: block; }
  .rightBorder {
    border-right: 1px solid #E4E4E4 !important; }
  .feed__activity__tile {
    width: 100%;
    padding: 18px 0;
    border-radius: 0;
    background-color: white;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-left: none;
    border-right: none; }
  .feed__activity {
    margin-left: 0;
    display: flex;
    padding: 11px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    border-left: none;
    border-right: none; }
  .feed__activity__data {
    padding: 0;
    width: 94%;
    align-items: flex-start;
    flex-direction: column; }
  .hideUpdateOnMobile {
    display: none; }
  .feed__activity__info {
    max-width: 100%;
    width: 100%;
    padding: 0; }
    .feed__activity__info img {
      margin-right: 7px; }
    .feed__activity__info p {
      width: 300px;
      word-wrap: break-word; }
  .feed__activity__image {
    width: 100%;
    min-width: 100%;
    border-radius: 0; }
  #feed {
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    border: none;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 18px;
    margin-left: 0; }
  .feed__activity__metaData {
    width: 100%;
    justify-content: flex-end;
    margin-top: 8px; }
  #feed__header {
    padding: 30px 0 20px 20px; }
  .publicHeader {
    display: none; }
  .feed__activity__context {
    padding: 0 10px;
    white-space: nowrap; }
  .feed__activity__address {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%; }
    .feed__activity__address h4 {
      width: 94%;
      overflow-x: scroll; }
  .feed__activity__address__wrapper {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-self: flex-start; }
  .feed__activity__header {
    background-color: #f5f6f8; }
    .feed__activity__header h4 {
      width: 100%;
      overflow-x: scroll; }
  .whiteBG {
    background-color: white !important; }
  .feed__activity__address__time {
    width: 26%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll; }
  .feed__activity__address__amount {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll; }
  .feed__activity__address__dataType {
    width: 18px; }
  .feed__activity__address__toFrom {
    width: 15%; }
  .feed__activity__address__function {
    width: 13%; }
  .feed__footer {
    margin-bottom: 28px; } }
