@import "../../variables.scss";

.statusUpdate {
  background-color: white;
  max-width: 700px;
  min-width: 700px;
  height: 50px;
  padding: 1.3em;
  margin-top: 128px;
  top: 194px;
  left: calc(50vw - 350px);
  border: 1px solid #E4E4E4;
  border-radius: 14px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    overflow: scroll;
  }
}

.statusUpdate--bannerMargin {
  margin-top: 262px !important;
  // margin-top: 182px !important;
}

.statusUpdate__field {
  border-style: none;
  border: none;
  width: 100%;
  font-size: 1.1em;
  background-color: rgb(255, 255, 255);
  height: 44px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #a8a8a8;
  }
}

.statusUpdate__displayPublic {
  width: 100%;
  font-size: 1.1em;
  height: 44px;
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.statusUpdate:hover .hideStatusButton {
  display: block;
}

.hideStatusButton {
  display: none;
}

.statusUpdate__button {
  margin: 0 20px 0 10px;
  background: transparent;
  color: $faintFont;
  padding: 0;
  transition: color .8s ease;
  border: none;

  &:hover {
    background: transparent;
  }
}

.statusUpdate__button--remove {
  &:hover {
    color: $threeBoxRed;
  }
}

.statusUpdate__button--cancel {
  &:hover {
    color: $lightFont;
  }
}

.statusUpdate__button--save {
  &:hover {
    color: $threeBoxGreen;
  }
}

.statusUpdate__loading {
  background: white;

  width: 700px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
  }
}

#feed {
  background-color: white;
  max-width: calc(700px + 2.6em) !important;
  min-width: calc(700px + 2.6em) !important;
  left: calc(50vw - 350px);
  border: 1px solid #E4E4E4;
  border-radius: 12px;
  margin-top: 30px;
  min-height: 610px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  justify-content: space-between;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    overflow: scroll;
  }
}

.profile__details {
  padding: 0 !important;
  max-width: calc(700px + 2.6em) !important;
  min-width: calc(700px + 2.6em) !important;
}

#feed__header {
  font-size: 18px;
  line-height: 24px !important;
  color: $lighterFont;
  font-weight: 400;
  margin-bottom: -1px;
  border-bottom: 1px solid #E4E4E4;
  padding: 20px 0 14px 20px;
}

.feed__activity__tile {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  padding: 2.3em 0;
  margin-bottom: -1px;
}

.feed__activity__address__amount__emoji {
  height: 34px;
  margin-left: 0;
}

.feed__activity__context {
  display: flex;
  align-items: center;
  margin-bottom: 1.3em;
  padding: 0 0 0 30px;

  .feed__activity__context__network {
    min-width: 2.2em;
    height: 2.2em;
    margin-right: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
  }

  .logo__icon {
    width: 2.1em;
    height: 2.1em;
    border-radius: 4px;
    background-color: #006ECC;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      color: white;
      font-size: 1.5em !important;
      font-weight: 700;
    }
  }
}

.logo__icon--footer {
  width: 2.1em;
  height: 2.1em;
  border-radius: 4px;
  background-color: #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700;
  }
}

.feed__footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.feed__activity__address {
  display: flex;
  flex-direction: column;

  h4 {
    margin-bottom: .2em;
  }

  p {
    color: $lighterFont;
  }
}

.feed__activity__address__amount__emoji {
  font-size: 24px;
  padding-top: 6px;
}

.feed__activity___data {
  display: flex;
  align-items: center;
  margin-top: .6em;
  margin-left: 30px;
  margin-right: 30px;
  min-height: 2.5em;
  padding: .4em .8em;
  border-radius: 4px;
  justify-content: space-between;
}

.darkFeed {
  background-color: $feedTileGrey;
}

.lightFeed {
  background-color: white;
}

.feed__activity__address__dataType {
  width: 76px;
  display: flex;
  align-items: center;

  img {
    width: 1.2em;
  }
}

.feed__activity__address__dataType--ethereum {
  width: .9em !important;
}

.feed__activity__address__function {
  width: 130px;
  overflow: scroll;
}

.feed__activity__address__toFrom {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 130px;

  img {
    width: 1em;
    margin-right: 1vw;
  }
}

.saveDelete {
  img {
    width: .8em !important;
  }
}

.feed__activity__address__amount {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed__activity__address__amount__image {
  width: 24px;
}

.feed__activity__address__time {
  width: 18%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.feed__activity__load {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 80px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: $lighterFont;
  }
}

#activityLoad {
  width: 3em;
  height: 3em;
}

@media only screen and (max-width: 1278px) {
  #feed {
    left: 350px;
  }

  .statusUpdate {
    left: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .statusUpdate {
    margin-top: 30px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0;
    margin-bottom: -1px;
    input {
      padding: 10px 10px;
    }
  }

  .statusUpdate--bannerMargin {
    margin-top: 310px !important;
  }

  .profile__details {
    padding: 0 !important;
    max-width: 100vw;
    min-width: 100vw;
    margin-top: 18px !important;
  }

  .hideStatusButton {
    display: block;
  }

  .feed__activity___data {
    margin-left: 0;
    display: flex;
    padding: .4em .8em;
    align-items: center;
    justify-content: space-between;
  }

  .hideUpdateOnMobile{
    display: none;
  }

  #feed {
    padding: 0;
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    border: none;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    margin-top: 18px;
  }

  #feed__header {
    padding: 30px 0 20px 20px;
  }

  #feed__activity {
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity__context {
    padding-left: .8em;
  }

  .feed__activity__address {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;

    h4 {
      width: 94%;
      overflow-x: scroll;
    }
  }

  .feed__activity__address__time {
    width: 26%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity___data {
    width: calc(100vw - 1.6em);
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    padding: .4em .8em;
  }

  .feed__activity__address__amount {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  .feed__activity__address__dataType {
    width: 8%;
  }

  .feed__activity__address__toFrom {
    width: 15%;
  }

  .feed__activity__address__function {
    width: 13%;
  }

  .feed__footer {
    margin-bottom: 28px;
  }
}