@import "../../variables.scss";

#feed {
  background-color: white;
  width: 63vw;
  padding: 2em;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    overflow: scroll;
  }
}

#feed_activity_address {
  margin-top: 2em;
}

.feed_activity_address_tile {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  padding: 1.5em 0;
  margin-bottom: -1px;
}

.feed_activity_context {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 .5em;

  img {
    width: 1.7em;
    height: 1.7em;
    margin-right: 1.5vw;
  }
}

.clipboard {
  border: 1px solid $borderColor;
  border-radius: 3px;
  margin-left: .8em;
  padding: 3px 6px;
  cursor: pointer;
}

.feed_activity_data {
  display: flex;
  align-items: center;
  margin-top: .5em;
  min-height: 2.5em;
  padding: 0 .8em;
  border-radius: 4px;
}

.darkFeed {
  background-color: $backgroundGrey;
}

.lightFeed {
  background-color: white;
}

.feed_activity_network_icon {
  background-color: rgb(77, 201, 106);
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  margin-right: 1.5vw;
}

.feed_activity_address_dataType {
  width: 11%;
  display: flex;
  align-items: center;

  img {
    height: 1.5em;
    opacity: .5;
  }
}

.feed_activity_address_function {
  width: 15%;
}

.feed_activity_address_toFrom {
  width: 15%;
}

.feed_activity_address_description {
  width: 27%;
}

.feed_activity_address_amount {
  width: 17%;
}

.feed_activity_address_time {
  width: 15%;
}

#feed_activity_network {
  width: 8%;
  padding-left: 3%;
}

#feed_activity_type {
  width: 9%;
}

#feed_activity_entity {
  width: 20%;

  p {
    color: $lighterFont;
  }
}

#feed_activity_function {
  width: 12%;
}

#feed_activity_description {
  width: 22%;

  p {
    color: $lighterFont;
  }
}

#feed_activity_amount {
  width: 13%;
}

#feed_activity_time {
  width: 13%;

  p {
    font-size: .8em;
    color: $lighterFont;
  }
}

#feed_activity {
  min-height: 10vh;
  width: 66vw;
  background: white;
  // border: 1px solid #E4E4E4;
  // border-radius: 5px;
  padding-bottom: 4vh;
}

#feed_activity_header {
  margin-top: 25px;
  margin-bottom: 25px;

  li {
    font-size: .8em;
    opacity: .65;
  }
}

.feed_activity_load {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 80px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: $lighterFont;
  }
}

#activityLoad {
  width: 3em;
  height: 3em;
}

.feed_activity_tile {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 44px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;

  p {
    display: inline-block;
    white-space: nowrap;
  }

  li {
    display: flex;
    align-items: center;
  }

  &:hover {
    background: #F8F8F8;
  }

}

.feed_activity_tile_networkLogo {
  height: 20px;
  position: relative;
  top: 50%;
  transform: translateY(22%);
}

.feed_activity_tile_entityLogo {
  display: inline-block;
  height: 24px;
  position: relative;
  top: 50%;
  transform: translateY(22%);
  margin-right: 1vw;
}

.feed_activity_tile_amount {
  p {
    color: #2AA046;
  }
}

#feed_network_3Box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  text-align: center;
  background-color: rgb(189, 189, 189);
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-16%);

  p {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin: 0 auto;
    color: white;
    font-weight: 500;
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  #feed {
    padding: 1em;
    margin-top: 3em;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  #page_header {
    margin: 0 0 2vh 0;
  }


  #feed_activity_header {
    width: fit-content;
  }

  .feed_activity_tile {
    width: fit-content;
    overflow-y: hidden;
  }
}