#feed {
  margin-top: 6vh; }
  #feed ul {
    padding: 0; }
  #feed li {
    display: inline-block;
    text-align: center;
    overflow: scroll; }

#feed_activity_network {
  width: 8%;
  padding-left: 3%; }

#feed_activity_type {
  width: 9%; }

#feed_activity_entity {
  width: 20%; }
  #feed_activity_entity p {
    color: #b1b1b1; }

#feed_activity_function {
  width: 12%; }

#feed_activity_description {
  width: 22%; }
  #feed_activity_description p {
    color: #b1b1b1; }

#feed_activity_amount {
  width: 13%; }

#feed_activity_time {
  width: 13%; }
  #feed_activity_time p {
    font-size: .8em;
    color: #b1b1b1; }

#feed_activity {
  min-height: 10vh;
  width: 66vw;
  background: white;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  margin: 0 8vw 6vh 28vw;
  padding-bottom: 4vh; }

#feed_activity_header {
  margin-top: 25px;
  margin-bottom: 25px; }
  #feed_activity_header li {
    font-size: .8em;
    opacity: .65; }

#feed_activity_load {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 80px;
  margin-bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: center; }

#activityLoad {
  width: 3em;
  height: 3em; }

.feed_activity_tile {
  border-top: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  min-height: 44px;
  margin-bottom: -1px;
  display: flex;
  align-items: center; }
  .feed_activity_tile p {
    display: inline-block;
    white-space: nowrap; }
  .feed_activity_tile li {
    display: flex;
    align-items: center; }
  .feed_activity_tile:hover {
    background: #F8F8F8; }

.feed_activity_tile_networkLogo {
  height: 20px;
  position: relative;
  top: 50%;
  transform: translateY(22%); }

.feed_activity_tile_entityLogo {
  display: inline-block;
  height: 24px;
  position: relative;
  top: 50%;
  transform: translateY(22%);
  margin-right: 1vw; }

.feed_activity_tile_amount p {
  color: #2AA046; }

#feed_network_3Box {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  text-align: center;
  background-color: #bdbdbd;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-16%); }
  #feed_network_3Box p {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin: 0 auto;
    color: white;
    font-weight: 500;
    font-size: 1em; }

#page_header {
  margin: 0 0 2vh 28vw; }

@media only screen and (max-width: 600px) {
  #feed {
    padding: 1em;
    overflow-x: scroll; }
  #page_header {
    margin: 0 0 2vh 0; }
  #feed_activity {
    width: 100%;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    overflow-x: scroll; }
  #feed_activity_header {
    width: fit-content; }
  .feed_activity_tile {
    width: fit-content;
    overflow-y: hidden; } }
