#footer {
  background-color: #fff;
  border-top: 1px solid #E4E4E4;
  overflow: hidden;
  position: absolute;
  height: 14vh;
  bottom: -10vh;
  width: 100%;
  display: block;
  display: flex;
  align-items: center; }

#footer_links {
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%; }
  #footer_links li {
    display: inline-block;
    text-align: center;
    color: #a8a8a8;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around; }

#landingFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  display: flex;
  align-items: center;
  margin-top: 10vh; }
  #landingFooter ul {
    width: 70%;
    display: flex;
    align-items: center; }
    #landingFooter ul li {
      width: 50%;
      display: flex;
      align-items: center; }
  #landingFooter a {
    z-index: 1;
    color: white;
    display: flex;
    align-items: center; }
  #landingFooter #mailChimp {
    display: flex;
    align-items: center; }
    #landingFooter #mailChimp input {
      display: inline-block;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border-style: none;
      border: solid 1px #E4E4E4;
      height: 44px;
      max-width: 50%;
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #landingFooter #mailChimp button {
      display: inline-block;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      max-width: 50%;
      height: 44px;
      text-align: center;
      padding: .8em 1.5em; }
    #landingFooter #mailChimp p {
      color: white; }

#footer_bg {
  width: 102vw;
  margin-left: -1vw;
  position: absolute;
  bottom: 0;
  z-index: 0; }

#footer_github {
  width: 3vw;
  margin-right: 1vw;
  z-index: 1; }
