@import "../../variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
}

.footer__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  padding-top: 60px;
  background-color: $threeBoxBlueDeep;
}

.footer__signIn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $threeBoxBlueDeep;
  width: 100%;
  height: 150px;
}

.footer__gutter {
  background-color: $threeBoxBlueDeeper;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.footer__gutter__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8vw;
  opacity: .4;

  li {
    color: white;
    margin-right: 15px;
  }
}

.footer__gutter__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8vw;
  padding-left: 0;
  opacity: .4;

  a {
    margin-left: 15px;
    color: white;
  }
}

.landing__developers__footer__buttons {
  opacity: .8;
}

.landing__developers__footer__buttons--createProfile {
  border: 1px solid white;
  color: $threeBoxBlue;
  background-color: white;

  &:hover {
    background-color: white;
    color: $threeBoxBlue;
  }
}

.landing__developers__footer__buttons--signIn {
  color: white !important;
  margin-right: 2vw;
  cursor: pointer;
}

.footer__signIn__tagline {
  color: white;
  margin-left: 8vw;
  opacity: .8;
}

.landing__developers__footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8vw;

  opacity: .8;
}

#footer__mailChimp {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 8vw;
  opacity: .8;

  input {
    display: inline-block;
    border-radius: 26px;
    border-style: none;
    border: 1px solid $threeBoxBlue;
    height: 52px;
    max-width: 70%;
    width: 300px;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: $threeBoxBlueDeeper;
    margin-right: 15px;
    color: white;

    &::placeholder {
      color: white;
    }
  }

  p {
    color: white;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 26px;
    height: 52px;
    background-color: transparent;

    &:hover {
      background-color: $threeBoxBlueHover;
    }
  }
}

.footer__gutter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing__developers__footer__buttons {
  margin-right: 8vw;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .landing__developers__footer__buttons--signIn {
    font-size: 14px !important;
    font-weight: 400;
    margin-right: 10vw;
  }

  .landing__nav__link--footer {
    display: none;
  }

  .landing__developers__footer__buttons--createProfile {
    font-size: 14px !important;
    font-weight: 400;
  }

  .landing__developers__footer__buttons {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0;
  }

  .landing__developers__footer__links {
    margin-left: 0;
    padding: 0;
  }

  .footer__tabs {
    flex-direction: column;
  }

  #footer__mailChimp {
    margin: 0;
    align-items: center;
  }

  .footer__signIn__tagline {
    display: none;
  }

  .footer__signIn {
    flex-direction: column;
    justify-content: center;
  }
}