@import "../../variables.scss";

.modal__overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.modal__container {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  visibility: hidden;
}

.modal__container--sync {
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  visibility: hidden;
  bottom: 0;
}

.modal__container--copied {
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  visibility: hidden;
  bottom: 0;
}

.modal {
  background: white;
  border-radius: 6px;
  padding: 60px 50px;
  width: 420px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  z-index: 7;

  p {
    line-height: 24px;
    font-size: 16px;
  }

  form {
    text-align: center;
    margin-top: 2em;
  }

  img {
    width: 240px;
  }

  h3 {
    margin-bottom: 14px;
  }
}

.modal--sync {
  background: $threeBoxBlue;
  border-radius: 6px;
  padding: 0 40px;
  width: fit-content;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  z-index: 7;
  bottom: 50px;
  position: absolute;

  p {
    line-height: 24px;
    font-size: 14px;
    color: white;
    opacity: .9;
  }

  form {
    text-align: center;
    margin-top: 2em;
  }

  #logo img {
    width: 90px !important;
  }

  h3 {
    margin-bottom: 14px;
  }

  #modal__loadingGraphic {
    margin-top: 0;
    width: 34px;
  }

  .modal__loading3Box {
    margin-bottom: 0;
  }
}

.modal--effect .modal {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showModal.modal--effect .modal {
  opacity: 1;
}

.modal--effect .modal--sync {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showModal.modal--effect .modal--sync {
  opacity: 1;
}

.modal__copy__ico {
  width: 20px;
}

.modal--sync__copy__wrapper {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal--sync__wrapper {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showModal {
  visibility: visible !important;
}

.showModal~.modal__overlay {
  opacity: 1;
  visibility: visible;
}

.modal__onBoardingModal__container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;

  img {
    width: 100px;
  }
}

.copyMessage {
  height: 0;
  opacity: 0;
}

#clickToCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 133px;
}

.copySuccessful.copyMessage {
  transition: all 0.5s;
  opacity: 1;
  height: 1;
}

.mobile__landing__closeButton {
  border-radius: 4em;
}

.modal__onBoardingModal {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 7;
  opacity: 0;
  display: flex;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.showModal.modal--effect .showModalImage.modal__onBoardingModal {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showModal.modal--effect .showModalImage.modal__onBoardingModal .fadeImage.modal__onBoardingModal__image {
  opacity: 1;
  visibility: visible;
}

#modal__onBoardingModal__image {
  object-fit: cover;
  border-radius: 6px;
  width: 754px;
  min-height: 500px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  display: block;

  p {
    line-height: 24px;
    font-size: 16px;
  }

  form {
    text-align: center;
    margin-top: 2em;
  }

  img {
    width: 240px;
  }

  h3 {
    margin-bottom: 14px;
  }
}

.modal__onBoardingModal__image {
  object-fit: cover;
  border-radius: 6px;
  width: 754px;
  min-height: 500px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  p {
    line-height: 24px;
    font-size: 16px;
  }

  form {
    text-align: center;
    margin-top: 2em;
  }

  img {
    width: 240px;
  }

  h3 {
    margin-bottom: 14px;
  }
}

#mobile__landing__prompt {
  display: none;
}

.hideMobileModal {
  display: none !important;
}

.showMobileModal {
  display: flex;
}

#modal__loadingGraphic {
  width: 60px;
  margin-top: 60px;
}

#modal__loadingGraphic--noMargin {
  width: 60px;
}

#modal__loadingGraphic--access {
  width: 60px;
  margin-top: 20px;
}

.modal__loading3Box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#modal__switchBack {
  margin-top: 40px;
}

#modal__switchedNetworks {
  width: 50px;
}

#modal__copy__card {
  margin: 34px 0 40px 0;
}

@-moz-document url-prefix() {
  #modal__onBoardingModal__button {
    margin-top: 364px !important;
  }

  #modal__onBoardingModal__progressBar {
    margin-top: 568px !important;
  }
}

#modal__onBoardingModal__button {
  z-index: 2;
  margin-top: 176px;
  padding: 1.2em 1.8em;
  border-radius: 3em;
  font-size: .9em;
  background: transparent;
  border: 1px solid white;
  position: absolute;

  &:hover {
    background-color: white;
    color: $threeBoxBlue;
  }
}

#modal__onBoardingModal__progressBar {
  margin-top: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  position: absolute;

  #modal__onBoardingModal__progressBar__progress--highlight {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
  }

  #modal__onBoardingModal__progressBar__progress--dull {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.336);
    border-radius: 50%;
  }
}

.githubModal {
  width: 800px;
  padding: 0;

  p {
    font-size: 14px !important;
  }
}

.modal__github__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #f1f1f1;
  padding: 40px 40px 34px 40px;
  width: 90%;
}

.modal__github__description__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modal__github__description__copy__tweet {
  color: white;
  font-weight: 800;
  background-color: #1168df;
  border-radius: 2em;
  padding: 1.2em 1.8em;
  transition: background-color .4s ease;
  border: 1px solid #1168df;
}

.modal__github__description__copy__text {
  text-align: left;
  color: $lighterFont;
  width: 80%;
}

.modal__github__description__copy__button {
  padding: 0;
  color: $threeBoxBlue;
  background-color: transparent;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: transparent;
    color: $threeBoxBlue;
  }
}

.modal__github__description__copy__button--mobile {
  display: none;
}

.modal__github__description__githubIcon {
  width: 30px !important;
  margin-right: 18px;
}

.modal__github__description__copy__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.modal__github__steps__text {
  text-align: left;
  margin-bottom: 26px;
}

.modal__github__steps__step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;

  p {
    color: $lightFont;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-top: 26px;
  }
}

.modal__twitter__steps__step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;

  p {
    color: $lightFont;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-top: 26px;
  }
}

.modal__github__steps {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

.modal__github__steps__number {
  background-color: $threeBoxBlueLightShade;
  color: $threeBoxAccentBlue;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.modal__github__description__copy__input {
  border-radius: 6px;
  border: 1px solid $threeBoxBlue;
  background-color: $threeBoxBlueLightShade;
  padding: 15px 20px;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  word-break: break-all;
}

.modal__twitter__steps__step--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.modal__github__description__copy__input--github {
  border-radius: 6px;
  border: 1px solid $threeBoxBlue;
  background-color: $threeBoxBlueLightShade;
  padding: 15px 20px;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  height: 70px;
}

.modal__github__description__copy__input--email {
  border-radius: 6px;
  border: 1px solid $borderColor;
  background-color: $feedTileGrey;
  padding: 15px 20px;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  height: 20px;
}

.modal__email__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    margin: 26px 0 0 20px;
    color: $threeBoxBlue;
  }
}

.modal__loadingGraphic--email {
  height: 28px;
  width: 28px !important;
  margin: 26px 0 0 20px;
}

.modal__github__done {
  background-color: $threeBoxBlueLightShade;
  width: 100%;
  padding: 20px;
  height: 100%;

  button {
    background-color: #00C77F;
    border: 1px solid #00C77F;

    &:disabled {
      background-color: transparent !important;
      border: 1px solid $lighterFont;
    }

    &:hover {
      background-color: rgb(0, 180, 114);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mobileInvisible {
    display: none;
  }

  .modal__container {
    img {
      width: 100px;
    }
  }

  .modal__onBoardingModal__container {
    img {
      width: 88vw !important;
      height: 400px !important;
    }
  }

  .modal {
    position: absolute;
    background: white;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    padding: 15px;
    width: 76vw;
    min-height: 300px;
    max-height: 450px;

    img {
      width: 100px;
    }
  }

  .modal__github__description__copy__button--mobile {
    display: flex;
    color: $lightFont;
    font-weight: 400;
    background-color: transparent !important;
    border: none;
    font-size: 16px;
  }

  .modal--sync {
    width: 78vw;
    padding: 0 24px;
    bottom: 24px;

    p {
      line-height: 24px;
      font-size: 12px;
      color: white;
      opacity: .8;
    }

    #logo img {
      width: 80px !important;
    }

    h3 {
      margin-bottom: 14px;
    }

    #modal__loadingGraphic {
      margin-top: 0;
      width: 34px;
    }

    .modal__loading3Box {
      margin-bottom: 0;
    }
  }

  #modal__onBoardingModal__progressBar {
    width: 60px;
    margin-top: 226px;
  }

  #mobile__landing__prompt {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    background: $threeBoxAccentBlue;
    z-index: 20;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 0 10px 0 #00000025, 16px 0 24px 0 #00000025;

    button {
      padding: .5em .8em;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    p {
      color: white;
    }
  }

  .githubModal {
    padding: 0;
    width: 92vw;
    max-height: 550px;
    // top: 85px;
    top: 15vh;

    button {
      padding: .8em 1.2em;
    }
  }

  .modal__github__description__copy__header {
    margin-bottom: 16px;

    h2 {
      font-size: 20px;
    }
  }

  .modal__github__description__githubIcon {
    margin-right: 10px;
    width: 22px !important;
  }

  .modal__github__steps__step {
    width: 100%;
    margin-bottom: 10px;

    button {
      margin-top: 10px;
    }
  }

  .modal__github__description {
    padding: 16px 16px 0 16px;
    height: 44px;
  }

  .modal__github__steps {
    padding: 16px 16px 0 16px;
    flex-direction: column;
  }

  .modal__twitter__steps__step {
    width: 100%;
    margin-bottom: 18px;
  }

  .modal__github__done {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__github__steps__number {
    margin-bottom: 0;
    width: 20px;
    height: 22px;
    margin-right: 7px;
    background-color: transparent;
  }

  .modal__github__steps__text {
    line-height: 20px !important;
    margin-bottom: 0;
  }

  .modal__github__description__copy__text {
    line-height: 20px !important;
    width: 100%;
    display: none !important;
  }

  .modal__github__description__copy__input {
    max-height: 70px;
    overflow: hidden;
    display: none !important;
  }

  .modal__github__description__copy__input--github {
    height: 28px;
    margin-bottom: 0;
    margin-top: 10px;
    width: 85%;
  }

  .modal__github__description__copy__button {
    display: none;
  }

  .modal__twitter__steps__step {
    button {
      margin-top: 14px;
    }
  }

  .modal__github__steps__instructions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .modal__twitter__steps__instructions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .modal__github__description__copy__tweet {
    padding: .8em 1.2em;
  }

  #mobile__landing__prompt__logo {
    width: 85vw;
    display: flex;
    justify-content: flex-start;

    img {
      width: 85px;
      height: 30px;
    }

    #logo__icon {
      margin-left: 0;
      background-color: white;

      h2 {
        color: $threeBoxAccentBlue;
      }
    }

    #logo__text {
      color: white;
    }
  }

  #mobile__landing__prompt__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 2em;

    p {
      opacity: .7;
    }
  }

  #mobile__landing__prompt__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 2em;

    img {
      width: 40vw;
    }
  }

  #modal__loggedOutModal--desktop {
    display: none;
  }

  #modal__loggedOutModal--mobile {
    display: flex;
  }
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 110px;
  }
}

#logo__icon {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: #006ECC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0 !important;

  h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700;
  }
}

#logo__text {
  display: inline-block;
  color: #006ECC;
  margin: 0;
  margin-left: .37em;
  font-size: 1.5em !important;
}






.sa-folding-box {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  position: relative;
  // -webkit-transform: rotateZ(45deg);
  // transform: rotateZ(45deg);
  opacity: .6;
}

.sa-folding-box .sa-box {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sa-folding-box .sa-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $threeBoxBlue;
  -webkit-animation: sa-foldboxAngle 2.4s infinite linear both;
  animation: sa-foldboxAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sa-folding-box .sa-box_2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sa-folding-box .sa-box_3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sa-folding-box .sa-box_4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sa-folding-box .sa-box_2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sa-folding-box .sa-box_3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sa-folding-box .sa-box_4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@keyframes sa-foldboxAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes sa-foldboxAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}