.modal__overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal__space__icon {
  width: 28px; }

.modal__container {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; }

.list__container {
  flex-direction: column; }

.list__scrollable-wrapper {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: fit-content;
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.modal__container--sync {
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  bottom: 0; }

.modal__container--copied {
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  bottom: 0; }

.modal {
  background: white;
  border-radius: 6px;
  padding: 60px 50px;
  width: 420px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  z-index: 7; }
  .modal p {
    line-height: 24px;
    font-size: 16px; }
  .modal form {
    text-align: center;
    margin-top: 2em; }
  .modal img {
    width: 240px; }
  .modal h3 {
    margin-bottom: 14px; }

.spaceModal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: fit-content;
  min-width: 500px;
  min-height: 200px;
  overflow: visible; }

.listSpaceModal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: fit-content;
  min-width: 500px;
  min-height: fit-content;
  overflow: visible;
  margin-bottom: 40px; }

.spaceModal__data {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #ececec; }
  .spaceModal__data h4 {
    color: #6b6b6b; }

.spaceModal__name {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid #ececec; }
  .spaceModal__name h4 {
    color: #6b6b6b; }

.spaceModal__names {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.spaceModal__name__wrapper {
  display: flex;
  align-content: flex-end;
  justify-content: flex-start; }

.spaceModal__space__value {
  font-size: 12px !important;
  color: #6b6b6b; }

.spaceModal__name__value {
  font-size: 14px !important;
  color: #6b6b6b; }

.spaceModal__close {
  position: absolute;
  top: -30px;
  right: 0px;
  padding: 0;
  border: none;
  z-index: 20;
  transition: all .3s;
  align-self: flex-end; }
  .spaceModal__close:hover {
    background-color: transparent;
    border: none; }

.spaceModal__content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  height: 120px;
  max-width: 70vw;
  padding: 15px;
  min-width: 100%;
  background-color: #f8f8f8; }

.spaceModal__content__object-keys {
  margin-right: 10px; }

.spaceModal__content__image {
  width: auto !important;
  min-width: 100%;
  min-height: 60px;
  height: auto;
  max-height: 600px;
  object-fit: cover; }

.spaceModal__context {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 86px;
  border-top: 1px solid #ececec; }

.spaceModal__context__div {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.spaceModal__context__privacy {
  width: 20px !important;
  height: 20px;
  margin-left: 20px; }

.spaceModal__context__delete {
  color: #ca3232;
  font-size: 13px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer; }
  .spaceModal__context__delete img {
    margin-right: 6px; }

.spaceModal__context__view {
  color: #1168df;
  font-size: 13px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer; }
  .spaceModal__context__view img {
    margin-right: 6px; }

.spaceModal__content__collectibles {
  width: auto !important;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  box-sizing: border-box; }

.spaceModal__content__collectibles__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px; }
  .spaceModal__content__collectibles__info p {
    font-size: 13px;
    color: #6b6b6b; }

.spaceModal__listWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.spaceDeleteModal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: 40vw;
  min-width: 500px;
  min-height: 200px;
  overflow: visible; }

.spaceDeleteModal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ca3232;
  width: 100%;
  box-sizing: border-box;
  padding: 20px; }

.spaceDeleteModal__body {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.spaceDeleteModal__body__explanantion {
  margin-bottom: 20px;
  width: 80%; }

.spaceDeleteModal__body__warning {
  color: #ca3232;
  margin-bottom: 40px; }

.spaceDeleteModal__body__buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.spaceDeleteModal__body__buttons__cancel {
  background-color: #6b6b6b;
  border: 1px solid #6b6b6b;
  border-radius: 2px !important;
  padding: 10px 15px; }
  .spaceDeleteModal__body__buttons__cancel:hover {
    background-color: #525252;
    border: 1px solid #525252; }

.spaceDeleteModal__body__buttons__delete {
  background-color: #ca3232;
  border: 1px solid #ca3232;
  border-radius: 2px !important;
  padding: 12px 16px; }
  .spaceDeleteModal__body__buttons__delete:hover {
    background-color: #9b2424;
    border: 1px solid #9b2424; }

.collectiblesModal {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0;
  height: 100vh;
  overflow-y: scroll; }

.collectiblesMiniModal {
  width: calc(100% - 50px) !important;
  height: fit-content !important;
  padding: 20px 25px !important;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: fit-content;
  margin-bottom: 75px;
  position: relative;
  visibility: hidden; }

.collectiblesMiniModal__wrapper {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: fit-content;
  padding: 0 0 25px 0; }
  .collectiblesMiniModal__wrapper p {
    text-align: left;
    font-size: 14px;
    line-height: 18px; }

.collectiblesMiniModal__description {
  color: #747677;
  padding: 0 25px; }

.onClickOutsideCollectibles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3; }

.onClickOutsideCollectibles--mobile {
  display: none; }

.modalLike {
  position: absolute;
  top: 20px !important;
  right: 20px !important;
  z-index: 1000; }
  .modalLike img {
    width: 26px !important;
    z-index: 1000; }

.collectiblesWrapper {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content; }

.collectiblesTileModal {
  padding: 0 !important;
  margin-bottom: 80px;
  width: auto !important;
  max-width: 600px; }
  .collectiblesTileModal:hover .collectibles__like__heart--modal {
    opacity: .8; }

.gallery__like {
  filter: none;
  -webkit-filter: grayscale(100%) brightness(2);
  -moz-filter: grayscale(100%) brightness(2);
  -ms-filter: grayscale(100%) brightness(2);
  -o-filter: grayscale(100%) brightness(2);
  transition: all .3s; }
  .gallery__like:hover {
    filter: none; }

.collectibles__like__heart--modal {
  opacity: 0;
  transition: all .3s; }

.modal__collectibles__image__wrapper {
  height: fit-content;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative; }
  .modal__collectibles__image__wrapper button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5; }
  .modal__collectibles__image__wrapper h4 {
    text-align: center;
    width: 60%;
    color: #747677; }

.collectibles__image__shadow--modal {
  background: #000000;
  width: 40%;
  height: 14px;
  border-radius: 50%;
  opacity: .1;
  position: absolute;
  bottom: 14px;
  filter: blur(2px); }

.modal__collectibles__image {
  height: 100% !important;
  width: 100% !important;
  min-height: 300px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  object-fit: cover; }

.contain {
  height: fit-content;
  overflow: hidden; }

.modal__collectibles__info {
  border-top: 1px solid #ececec;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 80px; }

.modal__collectibles__info__wrapper {
  padding: 20px 25px 25px 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }
  .modal__collectibles__info__wrapper h3 {
    margin-bottom: 3px; }
  .modal__collectibles__info__wrapper p {
    color: #b1b1b1;
    font-size: 14px; }

.collectiblesClose {
  position: relative;
  top: -30px;
  right: 0px;
  padding: 0;
  border: none;
  z-index: 20;
  transition: all .3s;
  align-self: flex-end;
  margin-top: 60px; }
  .collectiblesClose:hover {
    background-color: transparent;
    border: none;
    color: #c2c2c2; }

.modal__collectibles__traits {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  padding: 20px 25px 0 25px; }

.modal__collectibles__traits__trait {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1168df;
  border-radius: 8px;
  padding: 8px 10px;
  margin: 0 10px 10px 0; }

.modal__collectibles__traits__trait__type {
  font-size: 10px !important;
  color: white;
  line-height: 12px !important;
  margin-bottom: 6px !important;
  opacity: .6; }

.modal__collectibles__traits__trait__value {
  font-size: 16px;
  color: white;
  margin: 0 !important;
  display: inline; }

.emtpy__grid--mobile {
  display: none; }

.modal--sync {
  background: #1168df;
  border-radius: 6px;
  padding: 0 40px;
  width: fit-content;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  z-index: 7;
  bottom: 50px;
  position: absolute; }
  .modal--sync p {
    line-height: 24px;
    font-size: 14px;
    color: white;
    opacity: .9; }
  .modal--sync form {
    text-align: center;
    margin-top: 2em; }
  .modal--sync #logo img {
    width: 90px !important; }
  .modal--sync h3 {
    margin-bottom: 14px; }
  .modal--sync #modal__loadingGraphic {
    margin-top: 0;
    width: 34px; }
  .modal--sync .modal__loading3Box {
    margin-bottom: 0; }

.modal--space {
  background: #1168df;
  border-radius: 6px;
  padding: 0 40px;
  width: fit-content;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  z-index: 7;
  bottom: 50px;
  position: absolute; }
  .modal--space p {
    line-height: 24px;
    font-size: 14px;
    color: white;
    opacity: .9; }
  .modal--space form {
    text-align: center;
    margin-top: 2em; }
  .modal--space #logo img {
    width: 90px !important; }
  .modal--space h3 {
    margin-bottom: 14px; }
  .modal--space #modal__loadingGraphic {
    margin-top: 0;
    width: 34px; }
  .modal--space .modal__loading3Box {
    margin-bottom: 0; }

.app__modals-enter {
  opacity: .01; }

.app__modals-enter.app__modals-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out; }

.app__modals-leave {
  opacity: 1; }

.app__modals-leave.app__modals-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in; }

.modal__copy__ico {
  width: 20px; }

.modal--sync__copy__wrapper {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.modal--space__copy__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .modal--space__copy__wrapper p {
    margin-left: 20px; }

.modal--sync__wrapper {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.modal__onBoardingModal__container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden; }
  .modal__onBoardingModal__container img {
    width: 100px; }

.copyMessage {
  height: 0;
  opacity: 0; }

#clickToCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 133px; }

.copySuccessful.copyMessage {
  transition: all 0.5s;
  opacity: 1;
  height: 1; }

.mobile__landing__closeButton {
  border-radius: 4em; }

.modal__onBoardingModal {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 7;
  opacity: 0;
  display: flex;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute; }

#modal__onBoardingModal__image {
  object-fit: cover;
  border-radius: 6px;
  width: 754px;
  min-height: 500px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  display: block; }
  #modal__onBoardingModal__image p {
    line-height: 24px;
    font-size: 16px; }
  #modal__onBoardingModal__image form {
    text-align: center;
    margin-top: 2em; }
  #modal__onBoardingModal__image img {
    width: 240px; }
  #modal__onBoardingModal__image h3 {
    margin-bottom: 14px; }

.modal__onBoardingModal__image {
  object-fit: cover;
  border-radius: 6px;
  width: 754px;
  min-height: 500px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
  text-align: center;
  overflow: hidden;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .modal__onBoardingModal__image p {
    line-height: 24px;
    font-size: 16px; }
  .modal__onBoardingModal__image form {
    text-align: center;
    margin-top: 2em; }
  .modal__onBoardingModal__image img {
    width: 240px; }
  .modal__onBoardingModal__image h3 {
    margin-bottom: 14px; }

#mobile__landing__prompt {
  display: none; }

.hideMobileModal {
  display: none !important; }

.showMobileModal {
  display: flex; }

#modal__loadingGraphic {
  width: 60px;
  margin-top: 60px; }

#modal__loadingGraphic--noMargin {
  width: 60px; }

#modal__loadingGraphic--access {
  width: 60px;
  margin-top: 20px; }

.modal__loading3Box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }

#modal__switchBack {
  margin-top: 40px; }

#modal__switchedNetworks {
  width: 50px; }

#modal__copy__card {
  margin: 34px 0 40px 0; }

@-moz-document url-prefix() {
  #modal__onBoardingModal__button {
    margin-top: 364px !important; }
  #modal__onBoardingModal__progressBar {
    margin-top: 568px !important; } }

#modal__onBoardingModal__button {
  z-index: 2;
  margin-top: 176px;
  padding: 1.2em 1.8em;
  border-radius: 3em;
  font-size: .9em;
  background: transparent;
  border: 1px solid white;
  position: absolute; }
  #modal__onBoardingModal__button:hover {
    background-color: white;
    color: #1168df; }

#modal__onBoardingModal__progressBar {
  margin-top: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  position: absolute; }
  #modal__onBoardingModal__progressBar #modal__onBoardingModal__progressBar__progress--highlight {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%; }
  #modal__onBoardingModal__progressBar #modal__onBoardingModal__progressBar__progress--dull {
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.336);
    border-radius: 50%; }

.githubModal {
  width: 800px;
  padding: 0; }
  .githubModal p {
    font-size: 14px !important; }

.modal__github__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #f1f1f1;
  padding: 40px 40px 34px 40px;
  width: 90%; }

.modal__github__description__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.modal__github__description__copy__tweet {
  color: white;
  font-weight: 800;
  background-color: #1168df;
  border-radius: 2em;
  padding: 1.2em 1.8em;
  transition: background-color .4s ease;
  border: 1px solid #1168df;
  min-width: 130px; }

.modal__email__error {
  color: #ca3232 !important;
  line-height: 20px !important;
  margin-top: 4px;
  margin-bottom: -4px; }

.noBottomMargin {
  margin-bottom: 0 !important; }

.modal__github__description__copy__text {
  text-align: left;
  color: #747677;
  width: 80%; }

.modal__github__description__copy__button {
  padding: 0;
  color: #1168df;
  background-color: transparent;
  border: none;
  font-size: 16px; }
  .modal__github__description__copy__button:hover {
    background-color: transparent;
    color: #1168df; }

.modal__github__description__copy__button--mobile {
  display: none; }

.modal__github__description__githubIcon {
  width: 30px !important;
  margin-right: 18px; }

.modal__github__description__copy__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px; }

.modal__github__steps__text {
  text-align: left;
  margin-bottom: 26px; }

.modal__github__steps__step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 30%; }
  .modal__github__steps__step p {
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal__github__steps__step button {
    margin-top: 26px; }

.modal__twitter__steps__step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 45%; }
  .modal__twitter__steps__step p {
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal__twitter__steps__step button {
    margin-top: 26px; }

.modal__github__steps {
  display: flex;
  padding: 40px;
  justify-content: space-between; }

.modal__github__steps__number {
  background-color: #EFF5FE;
  color: #021333;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  font-weight: 800; }

.modal__github__description__copy__input {
  border-radius: 6px;
  border: 1px solid #1168df;
  background-color: #EFF5FE;
  padding: 15px 20px;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  word-break: break-all; }

.blueFont {
  color: #1168df !important; }

.modal__twitter__steps__step--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.modal__github__description__copy__input--github {
  border-radius: 6px;
  border: 1px solid #1168df;
  background-color: #EFF5FE;
  padding: 15px 20px;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  height: 70px; }

.modal__github__description__copy__input--email {
  border-radius: 6px;
  border: 1px solid #ececec;
  background-color: #f9f9f9;
  padding: 15px 20px;
  width: 70%;
  margin-bottom: 20px;
  text-align: left;
  height: 20px; }

.modal__email__button {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .modal__email__button p {
    margin: 26px 0 0 20px;
    color: #1168df; }

.modal__loadingGraphic--email {
  height: 28px;
  width: 28px !important; }

.darker {
  background-color: #0950b0 !important;
  color: white !important;
  border: solid 1px #0950b0 !important; }

.modal__github__steps__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .modal__github__steps__wrapper h3 {
    margin-left: 15px; }

.loadingPadding {
  padding: 10px 1.8em !important; }

.collectibles__modal {
  height: 100vh;
  left: 0;
  overflow: scroll; }

.modal__github__done {
  background-color: #EFF5FE;
  width: 100%;
  padding: 20px;
  height: 100%; }
  .modal__github__done button {
    background-color: #00C77F;
    border: 1px solid #00C77F; }
    .modal__github__done button:disabled {
      background-color: transparent !important;
      border: 1px solid #747677; }
    .modal__github__done button:hover {
      background-color: #00b472;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }

@media only screen and (max-width: 600px) {
  .mobileInvisible {
    display: none; }
  .collectiblesClose {
    position: absolute;
    margin-right: 12vw;
    margin-top: 60px; }
  .modal__container img {
    width: 100px; }
  .onClickOutsideCollectibles {
    display: none; }
  .onClickOutsideCollectibles--mobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }
  .modal__collectibles__image__wrapper {
    width: 100%;
    height: 100%; }
  .collectiblesModal {
    height: fit-content !important;
    overflow-y: scroll; }
  .collectiblesWrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    z-index: 6;
    top: 0;
    position: relative; }
  .collectiblesTileModal {
    position: relative !important;
    overflow: hidden;
    max-height: fit-content !important;
    min-height: fit-content !important;
    padding: 0 !important;
    border: none !important;
    width: 80vw !important;
    margin-top: 60px; }
  .modal__collectibles__image {
    min-height: 0; }
  .collectibles__like__heart--modal {
    opacity: .8; }
  .modal__onBoardingModal__container img {
    width: 88vw !important;
    height: 400px !important; }
  .modal {
    position: absolute;
    background: white;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    padding: 15px;
    width: 76vw;
    min-height: 300px;
    max-height: 450px; }
    .modal img {
      width: 100px; }
  .modal__github__description__copy__button--mobile {
    display: flex;
    color: #6b6b6b;
    font-weight: 400;
    background-color: transparent !important;
    border: none;
    font-size: 16px; }
  .modal--sync {
    width: 78vw;
    padding: 0 24px;
    bottom: 24px; }
    .modal--sync p {
      line-height: 24px;
      font-size: 12px;
      color: white;
      opacity: .8; }
    .modal--sync #logo img {
      width: 80px !important; }
    .modal--sync h3 {
      margin-bottom: 14px; }
    .modal--sync #modal__loadingGraphic {
      margin-top: 0;
      width: 34px; }
    .modal--sync .modal__loading3Box {
      margin-bottom: 0; }
  .modal--space {
    width: 78vw;
    padding: 0 24px;
    bottom: 24px; }
    .modal--space p {
      line-height: 24px;
      font-size: 12px;
      color: white;
      opacity: .8; }
    .modal--space #logo img {
      width: 80px !important; }
    .modal--space h3 {
      margin-bottom: 14px; }
    .modal--space #modal__loadingGraphic {
      margin-top: 0;
      width: 34px; }
    .modal--space .modal__loading3Box {
      margin-bottom: 0; }
  #modal__onBoardingModal__progressBar {
    width: 60px;
    margin-top: 226px; }
  #mobile__landing__prompt {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    background: #021333;
    z-index: 20;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 0 10px 0 #00000025, 16px 0 24px 0 #00000025; }
    #mobile__landing__prompt button {
      padding: .5em .8em;
      position: absolute;
      top: 10px;
      right: 10px; }
    #mobile__landing__prompt p {
      color: white; }
  .collectiblesMiniModal {
    width: calc(80vw - 40px) !important;
    height: fit-content !important;
    min-height: fit-content !important;
    padding: 20px 20px !important;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border: none !important; }
  .modal__collectibles__info__wrapper {
    padding: 15px 20px 25px 20px; }
  .spaceModal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    position: relative;
    width: fit-content;
    min-width: 90vw;
    min-height: 200px;
    overflow: visible; }
  .githubModal {
    padding: 0;
    width: 92vw;
    max-height: 550px;
    top: 15vh; }
    .githubModal button {
      padding: .8em 1.2em; }
  .modal__github__description__copy__header {
    margin-bottom: 16px; }
    .modal__github__description__copy__header h2 {
      font-size: 20px; }
  .modal__github__description__githubIcon {
    margin-right: 10px;
    width: 22px !important; }
  .modal__github__steps__step {
    width: 100%;
    margin-bottom: 10px; }
    .modal__github__steps__step button {
      margin-top: 10px; }
  .modal__github__description {
    padding: 16px 16px 0 16px;
    height: 44px; }
  .modal__github__steps {
    padding: 16px 16px 0 16px;
    flex-direction: column; }
  .modal__twitter__steps__step {
    width: 100%;
    margin-bottom: 18px; }
  .modal__github__done {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal__github__description__copy__text {
    line-height: 20px !important;
    width: 100%;
    display: none !important; }
  .modal__github__description__copy__input {
    max-height: 70px;
    overflow: hidden;
    display: none !important; }
  .modal__github__description__copy__input--github {
    height: 28px;
    margin-bottom: 0;
    margin-top: 10px;
    width: 85%; }
  .modal__github__description__copy__button {
    display: none; }
  .modal__twitter__steps__step button {
    margin-top: 14px; }
  .modal__github__steps__instructions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
  .modal__github__description__copy__tweet {
    padding: .8em 1.2em; }
  #mobile__landing__prompt__logo {
    width: 85vw;
    display: flex;
    justify-content: flex-start; }
    #mobile__landing__prompt__logo img {
      width: 85px;
      height: 30px; }
    #mobile__landing__prompt__logo #logo__icon {
      margin-left: 0;
      background-color: white; }
      #mobile__landing__prompt__logo #logo__icon h2 {
        color: #021333; }
    #mobile__landing__prompt__logo #logo__text {
      color: white; }
  #mobile__landing__prompt__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 2em; }
    #mobile__landing__prompt__text p {
      opacity: .7; }
  #mobile__landing__prompt__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin-top: 2em; }
    #mobile__landing__prompt__buttons img {
      width: 40vw; }
  #modal__loggedOutModal--desktop {
    display: none; }
  #modal__loggedOutModal--mobile {
    display: flex; } }

#logo {
  display: flex;
  align-items: center;
  justify-content: center; }
  #logo img {
    width: 110px; }

#logo__icon {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: #006ECC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0 !important; }
  #logo__icon h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700; }

#logo__text {
  display: inline-block;
  color: #006ECC;
  margin: 0;
  margin-left: .37em;
  font-size: 1.5em !important; }

.sa-folding-box {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: .6; }

.sa-folding-box .sa-box {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sa-folding-box .sa-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1168df;
  -webkit-animation: sa-foldboxAngle 2.4s infinite linear both;
  animation: sa-foldboxAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sa-folding-box .sa-box_2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sa-folding-box .sa-box_3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sa-folding-box .sa-box_4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sa-folding-box .sa-box_2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sa-folding-box .sa-box_3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sa-folding-box .sa-box_4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@keyframes sa-foldboxAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@-webkit-keyframes sa-foldboxAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
