nav {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #fff;
  height: 68px;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
  z-index: 3; }
  nav button {
    display: inline-block; }
  nav p {
    color: #006ECC; }

#nav__networkStatus {
  border: 1px solid #e4e4e4;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 40px; }
  #nav__networkStatus p {
    font-size: 12px;
    color: #6b6b6b; }

.Main {
  background: #29B6AF; }

.Ropsten {
  background: #FF4A8D; }

.Kovan {
  background: #7057FF; }

.Rinkeby {
  background: #F6C343; }

.Unknown {
  background: black; }

#nav__networkStatus__networkColor {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 12px; }

#nav__logo--marginLeft {
  margin-left: 3vw; }

.nav__dropdown__mobileLogo {
  display: none; }

#nav__userPicture {
  background-image: linear-gradient(#d3d3d3, #eeeeee);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 14px 3vw 14px 14px;
  margin-left: auto;
  cursor: pointer;
  object-fit: cover; }

.nav__dropdown {
  transition: transform ease 0.9s, opacity ease 0.1s;
  transform: translateY(-4px);
  position: absolute;
  top: 64px;
  right: 3vw;
  text-align: left;
  width: 8em;
  padding: 0 0 0 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #00000025; }
  .nav__dropdown ul {
    padding: 0; }
  .nav__dropdown li {
    font-size: 14px;
    padding-left: 1.3em;
    color: #6b6b6b;
    line-height: 3.4em;
    font-weight: 400;
    cursor: pointer; }
  .nav__dropdown li:hover {
    background: #f9f9f9; }
  .nav__dropdown div {
    line-height: 0; }

.nav__divide {
  border-top: 1px solid #CBCBCB;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100% !important; }

#actionButtons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 4vw; }
  #actionButtons p {
    margin-right: 2vw;
    cursor: pointer; }

#landing__nav {
  position: fixed;
  height: 88px;
  width: 100vw;
  top: 0;
  z-index: 3;
  border-bottom: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.hide {
  border-bottom: 1px solid #E4E4E4 !important;
  height: 68px !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

#nav__reportBug {
  background-color: #f5f6f8;
  color: #b1b1b1; }

#nav__divideBug {
  border-top: 1px solid #CBCBCB;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100% !important; }

.mobileDropDown {
  display: none; }

#dropdownContainer {
  display: none; }

.nav__activePage {
  border-left: solid 5px #006ECC;
  background: #f5f6f8;
  margin-left: -1px;
  padding-left: calc(1.3em - 5px) !important; }

@media only screen and (max-width: 600px) {
  .hide {
    border-bottom: 1px solid #E4E4E4 !important;
    height: 68px !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  #actionButtons p {
    margin-right: 5vw; }
  .nav__dropdown {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 400px;
    height: 100vh;
    padding: 1em 0 0 0;
    border-radius: 0;
    border-right: 1px solid #E4E4E4;
    border-left: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    z-index: 99999;
    transform: translateX(-100%);
    transition: transform .3s ease-out; }
    .nav__dropdown li {
      line-height: 4.5em; }
  #nav__networkStatus {
    margin-left: 20px; }
  .nav__dropdown.sideDrawer {
    transform: translateX(0);
    box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #00000025; }
  #dropdownContainer {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
    z-index: 99998;
    transition: all .3s ease-out; }
  #nav__reportBug {
    border-top: none;
    background: none;
    padding: 0 1.3em; }
  #mobileNav__signout {
    color: #b1b1b1; }
  .nav__dropdown__mobileLogo {
    display: flex;
    justify-content: flex-start;
    margin: 4px 0 40px; }
  .nav__activePage {
    border-left: solid 5px #006ECC;
    background: #f5f6f8;
    padding-left: calc(1.3em - 5px) !important; } }
