@import "../../variables.scss";

.NetworkPurple {
  background-color: #7242D4 ;
}

.NetworkBlue {
  background-color: #426ED9 ;
}

.NetworkGreen {
  background-color: #0A9C97 ;
}

.NetworkYellow {
  background-color: #E6A14E ;
}

.NetworkRed {
  background-color: #D75554 ;
}