@import "../../variables.scss";

.profileCard {
  // border: 1px solid #E4E4E4;
  border-radius: 10px;
  min-width: 10em;
  min-height: 20em;
  background: white;
  width: 18em;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

#profileCard__user__picture {
  background-color: #3f3f3f;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translateY(-30%) translateX(-50%);
}

#profileCard__network__icon {
  border-radius: 100%;
  background-color: #5ECD78;
  width: 19px;
  height: 19px;
}

#profile_address {
  margin-left: 1em;

  &:hover .tooltiptext {
    visibility: visible;
  }
}

#profileCard__username {
  font-size: 1.4em;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}

#profileCard__network {
  display: flex;
  align-items: center;
  margin-bottom: .7em;
}

#profile__card__social {
  display: flex;
  align-items: center;
  margin-bottom: .7em;
}

.tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: 50%;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.profileCard__user__info {
  padding: 2em;
  margin-top: -4em;
}

.profileCardSmall {
  // border: 1px solid #E4E4E4;
  border-radius: 10px;
  background: white;
  width: 16em;
  height: 10em;
  box-shadow: 0 6px 10px 0 #00000025, 0 16px 24px 0 #0000002f;
}

.profileCardSmall__user__picture {
  background-color: #3f3f3f;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translateY(-30%) translateX(-160%);
}

.profileCardSmall__user__name {
  font-size: 1.4em;
  margin-top: 2.6vh;
}

.profileCardSmall__address {
  display: inline-block;
  font-size: 14px !important;
  margin-top: 1vh !important;
  margin-left: .5vw;
}

.profileCard__icon {
  width: 19px;
  margin-right: 1em;
}

#profile__card__social {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .profileCardSmall {
    width: 14em;
    height: 11em;
  }

  .profileCardSmall__user__picture {
    -webkit-transform: perspective(1px) translateY(-30%) translateX(-140%);
    transform: perspective(1px) translateY(-30%) translateX(-140%);
  }
}