#logo {
  display: flex;
  align-items: center;
  justify-content: center; }

#logo_icon {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: #006ECC;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  #logo_icon h2 {
    color: white;
    font-size: 1.5em !important;
    font-weight: 700; }

#logo_text {
  display: inline-block;
  color: #006ECC;
  margin: 0;
  margin-left: .37em;
  font-size: 1.5em !important; }

#logo_icon_white {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: white;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  #logo_icon_white h2 {
    color: #021333;
    font-size: 1.5em !important;
    font-weight: 700; }

#logo_text_white {
  display: inline-block;
  color: white;
  margin: 0;
  margin-left: .37em;
  font-size: 1.5em !important; }
