.data__page {
  display: flex;
  height: calc(100vh - 69px);
  min-width: 920px; }

.spaces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #E8EAEE;
  width: calc(18vw - 40px);
  overflow-y: scroll;
  min-width: 260px;
  box-sizing: border-box;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.sortArrow {
  font-size: 15px !important;
  font-weight: 800; }

.closeSpaces {
  margin-left: -260px; }

.dataExplorer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: calc(82vw + 40px);
  min-width: 660px;
  height: 100%;
  overflow-y: scroll;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.wideDataExplorer {
  width: 100vw; }

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box; }
  .space:hover .space__name {
    color: #1168df; }
  .space:hover .space__arrow {
    color: #1168df; }

.activeSpace {
  background-color: #dae1ee; }
  .activeSpace p {
    color: #1168df !important;
    font-weight: 600 !important; }

.space__name {
  color: #718cb1;
  padding-left: 40px;
  text-overflow: ellipsis;
  max-width: 164px;
  width: 164px;
  overflow: hidden;
  white-space: nowrap; }

.row__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.row__vault__name {
  max-width: calc(80% - 12px) !important; }

.row__vault {
  max-width: calc(20% + 12px) !important;
  margin-right: 12px; }

.space__arrow {
  color: #718cb1;
  padding-right: 40px; }
  .space__arrow img {
    height: 10px; }

.data__header {
  left: 260px;
  width: calc(100vw - 260px);
  position: fixed;
  min-width: 660px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f6f8;
  z-index: 2;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.data__header--wide {
  width: 100vw;
  left: 0vw !important; }

.data__space {
  width: 100%;
  min-height: 46px;
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box; }

.data__space__context {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .data__space__context h2 {
    color: #718cb1;
    font-size: 20px; }

.data__space__context__name {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.data__space__info {
  width: 15px;
  filter: grayscale(100%);
  padding-right: 30px; }

.data__space__loading {
  width: 26px;
  height: 26px;
  margin-left: 14px; }

.data__space__loading--mobile {
  display: none; }

.data__categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ececec;
  min-height: 50px;
  box-sizing: border-box; }

.data__items {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 95px;
  min-height: calc(100% - 95px); }

.data__categories__title {
  padding: 0 2%;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #718cb1; }
  .data__categories__title:hover {
    color: #1168df; }

.emptySpace {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 220px; }
  .emptySpace p {
    color: #718cb1;
    margin-top: 20px; }

.emptySpace_mollie {
  filter: saturate(0.3);
  width: 160px;
  opacity: .4; }

.data__items__row {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  margin-bottom: -1px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 0;
  max-height: 100px;
  min-height: fit-content;
  overflow-y: hidden;
  width: 100%;
  background-color: white;
  transition: ease-in-out .6s all; }
  .data__items__row:hover {
    background-color: #fbfbfd; }
  .data__items__row p,
  .data__items__row span {
    color: #828282; }

.fadeInRow {
  background-color: #cdddf3 !important; }

.fadeOutRow {
  opacity: .2 !important; }

.favoriteCollectibles_row .data__content {
  align-items: center; }

.data__items__row__vault__icon {
  width: 20px;
  filter: grayscale(100%); }

.data__space__context__icon {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .data__space__context__icon img {
    width: 20px;
    height: 20px; }
  .data__space__context__icon:hover {
    background-color: transparent;
    border: none;
    padding: 0; }

.data__space__context__listButton {
  display: flex;
  margin-right: 12px; }

.data__space__context__arrowButton {
  display: none; }

.data__text {
  max-width: 100%;
  overflow: hidden;
  min-height: 38px;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.vault__loading {
  width: 18px;
  height: 18px;
  margin-left: 6px; }

.data__items__row__unlockButton {
  padding: 6px 14px;
  background-color: #575757;
  border-color: #575757;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  margin-top: 3px; }
  .data__items__row__unlockButton:hover {
    background-color: #303030;
    border-color: #303030; }

.data__items__row__unlockButton--loading {
  min-width: 184px; }

.data__items__row__entry {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2%;
  height: fit-content;
  font-size: 13px;
  height: 100%; }

.spaceRow__key {
  width: 28%;
  max-width: 21.3%; }

.spaceRow__content {
  width: 23%;
  max-width: 23%;
  overflow: hidden; }

.spaceRow__space {
  width: 20%;
  max-width: 20%; }

.spaceRow__type {
  width: 9%;
  max-width: 9%; }

.spaceRow__privacy {
  width: 4%;
  max-width: 4%; }

.spaceRow__updated {
  width: 16%;
  max-width: 16%; }

.type__tag {
  padding: 6px 9px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; }

.spaceRow__privacy__icon {
  width: 15px; }

.spaceRow__tag__text {
  color: black !important;
  font-size: 13px !important;
  opacity: .6;
  line-height: 18px !important; }

.spaceRow__content__image {
  width: 86%;
  height: 36px;
  object-fit: cover;
  border-radius: 4px; }

.spaceView__gap {
  min-height: 160px;
  width: 100%; }

.data__collectibles__tile {
  width: 25%;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 8%; }

.row__type__vault {
  background-color: #575757;
  color: white !important; }

.List {
  background-color: #a1c7a1; }

.Thread {
  background-color: #ffb386; }

.Text {
  background-color: #8da3c3; }

.Image {
  background-color: #ce94bf; }

.Claim {
  background-color: #476997; }

.Object {
  background-color: #cab039; }

.activeSort {
  color: #1168df;
  font-weight: 600;
  opacity: 1; }
  .activeSort p {
    color: #1168df;
    margin-left: 6px;
    font-size: 10px; }

.data__categories--mobile {
  display: none; }

.space__nav--mobile {
  display: none; }

@media only screen and (max-width: 600px) {
  .data__page {
    position: relative;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    overflow: hidden; }
  .data__nav--desktop {
    display: none; }
  .space__nav--mobile {
    display: inherit;
    height: fit-content; }
  .spaces {
    background-color: white;
    width: 100vw;
    height: 100vh; }
  .closeSpaces {
    margin-left: 0; }
  .Text_row .data__content {
    min-height: 26px !important;
    max-height: 36px !important; }
  .dataExplorer {
    position: absolute;
    width: 100vw !important;
    min-width: 100vw !important;
    left: 100vw !important; }
  .wideDataExplorer--mobile {
    left: 0 !important; }
  .data__header {
    width: 100vw;
    min-width: 100vw;
    left: 100vw !important;
    align-items: flex-start;
    position: sticky;
    top: 0; }
  .space__divider--mobile {
    border-bottom: 1px solid #ececec;
    width: 90%; }
  .space {
    width: 100%; }
  .closeSpaces--mobile {
    margin-left: -100vw; }
  .data__header--wide--mobile {
    width: 100vw !important;
    left: 0vw !important; }
  .data__space {
    padding-left: 4vw;
    min-height: 38px;
    align-items: center;
    background-color: #1168df; }
  .data__items__row__vault__icon {
    margin-right: 10px;
    width: 12px;
    opacity: .7; }
  .data__items__row__unlockButton {
    padding: 4px 10px; }
  .data__space__context__listButton {
    display: none; }
  .data__space__context__arrowButton {
    display: flex;
    width: 14px !important;
    height: 14px !important;
    filter: brightness(0) invert(1);
    transform: rotate(180deg);
    margin-right: 6px; }
  .data__space__context__name h2 {
    color: white; }
  .data__space__context h2 {
    font-size: 16px; }
  .data__categories {
    display: none; }
  .data__space__loading--mobile {
    display: flex;
    width: 26px;
    height: 26px;
    margin-left: 14px; }
  .space__name {
    padding-left: 26px; }
  .space__arrow {
    padding-right: 26px; }
  .data__items__row {
    padding: 14px 0;
    height: fit-content;
    overflow-y: hidden;
    width: 100vw;
    flex-direction: column; }
    .data__items__row p,
    .data__items__row span {
      color: #828282;
      font-size: 13px; }
  .data__items__context {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4vw; }
  .data__content {
    min-height: 38px;
    max-height: 70px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding: 0 4vw;
    font-size: 14px;
    margin-top: 10px;
    color: #828282; }
    .data__content p {
      size: 18px !important; }
  .data__space__info {
    display: none; }
  .spaceView__gap {
    min-height: 100px; }
  .data__categories--mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vw;
    position: relative;
    min-height: 50px;
    border-bottom: 1px solid #ececec;
    width: calc(100% - 4vw);
    font-size: 11px; }
    .data__categories--mobile p {
      color: #828282 !important;
      margin-right: 16px;
      font-size: 11px; }
  .data__categories__input {
    border: solid 1px #ececec;
    padding: 10px !important;
    background-color: white;
    border-radius: 6px;
    height: 50px;
    box-sizing: border-box;
    font-size: 13px; }
    .data__categories__input:focus {
      font-size: 13px; }
  .data__selected-sort {
    border: solid 1px #ececec;
    padding: 6px 10px !important;
    background-color: white;
    border-radius: 6px;
    width: 100px;
    height: 36px;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer; }
    .data__selected-sort p {
      font-size: 12px; }
  .data__categories__title__arrow {
    margin-left: 12px;
    cursor: pointer; }
  .spaceRow__content__image {
    width: 100%;
    height: 70px; }
  .data__categories__picker--mobile {
    position: absolute;
    top: 46px;
    left: 0;
    border: solid 1px #ececec;
    padding: 16px 0 !important;
    background-color: white;
    border-radius: 6px;
    width: 160px;
    height: fit-content;
    box-sizing: border-box;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .data__categories__picker--mobile ul {
      padding: 0; }
    .data__categories__picker--mobile li {
      height: 44px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #828282;
      padding: 0 16px;
      width: 158px;
      box-sizing: border-box; }
  .activeSort {
    background-color: #e9e9e9; }
  .data__items {
    margin-top: -1px;
    width: 100vw; }
  .data__items--namewrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box; }
  .data__items--detailswrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .data__name {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding-left: 4vw; }
  .data__items__privacyicon {
    width: 13px;
    height: 13px; }
  .data__items__spacename {
    font-size: 13px;
    margin-right: 8px;
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .row__type__vault p {
    color: white !important; }
  .type__tag {
    padding: 3px 6px;
    border-radius: 2px;
    margin-right: 10px; }
    .type__tag p {
      font-size: 12px !important; } }
