.data__page {
  display: flex;
  height: calc(100vh - 69px); }

.spaces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #E8EAEE;
  width: 18vw;
  overflow-y: scroll;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.closeSpaces {
  margin-left: -18vw; }

.dataExplorer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 82vw;
  height: 100%;
  overflow-y: scroll;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.wideDataExplorer {
  width: 100vw; }

.hideVault {
  display: none !important; }

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  cursor: pointer; }
  .space:hover .space__name {
    color: #1168df; }
  .space:hover .space__arrow {
    color: #1168df; }

.activeSpace {
  background-color: #dae1ee; }
  .activeSpace p {
    color: #1168df !important;
    font-weight: 600 !important; }

.space__name {
  color: #718cb1;
  padding-left: 40px; }

.space__arrow {
  color: #718cb1;
  padding-right: 40px; }

.data__header {
  width: 82vw;
  left: 18vw;
  position: fixed;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f6f8;
  z-index: 2;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.data__header--wide {
  width: 100vw;
  left: 0vw; }

.data__space {
  width: 98%;
  min-height: 70px;
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.data__space__context {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .data__space__context h2 {
    color: #718cb1; }

.data__space__context__name {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.data__space__info {
  width: 15px;
  filter: grayscale(100%);
  padding-right: 30px; }

.data__space__loading {
  width: 26px;
  height: 26px;
  margin-left: 14px; }

.data__categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ececec;
  min-height: 50px; }

.data__items {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 120px; }

.data__categories__title {
  padding: 0 2%;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #718cb1; }
  .data__categories__title:hover {
    color: #1168df; }

.data__items__row {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  margin-bottom: -1px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 0;
  height: fit-content;
  max-height: 100px;
  min-height: 38px;
  overflow-y: hidden;
  width: 100%;
  background-color: white; }
  .data__items__row:hover {
    background-color: #fbfbfd; }
  .data__items__row p,
  .data__items__row span {
    color: #828282; }

.data__items__row__vault__icon {
  width: 20px;
  filter: grayscale(100%);
  margin-right: 12px; }

.data__space__context__icon {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .data__space__context__icon img {
    width: 20px;
    height: 20px; }
  .data__space__context__icon:hover {
    background-color: transparent;
    border: none;
    padding: 0; }

.data__text {
  max-width: 100%;
  overflow: hidden;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center; }

.vault__loading {
  width: 18px;
  height: 18px;
  margin-left: 6px; }

.data__items__row__unlockButton {
  padding: 9px 15px;
  background-color: #575757;
  border-color: #575757;
  font-weight: 400;
  font-size: 13px;
  display: flex; }
  .data__items__row__unlockButton:hover {
    background-color: #303030;
    border-color: #303030; }

.data__items__row__entry {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2%;
  height: fit-content;
  font-size: 13px;
  height: 100%; }

.spaceRow__key {
  width: 28%;
  max-width: 28%; }

.spaceRow__content {
  width: 27%;
  max-width: 27%; }

.spaceRow__space {
  width: 12%;
  max-width: 12%; }

.spaceRow__type {
  width: 9%;
  max-width: 9%; }

.spaceRow__privacy {
  width: 8%;
  max-width: 8%; }

.spaceRow__updated {
  width: 16%;
  max-width: 16%; }

.type__tag {
  padding: 6px 9px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; }

.spaceRow__privacy__icon {
  width: 15px; }

.spaceRow__tag__text {
  color: black !important;
  font-size: 13px !important;
  opacity: .6; }

.spaceRow__content__image {
  width: 86%;
  height: 36px;
  object-fit: cover;
  border-radius: 4px; }

.data__collectibles__tile {
  width: 25%;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 8%; }

.row__type__vault {
  background-color: #575757;
  color: white !important; }

.List {
  background-color: #a1c7a1; }

.Text {
  background-color: #8da3c3; }

.Image {
  background-color: #ce94bf; }

.Claim {
  background-color: #476997; }

.Object {
  background-color: #cab039; }

.activeSort {
  color: #1168df;
  font-weight: 600;
  opacity: 1; }
  .activeSort p {
    color: #1168df;
    margin-left: 6px;
    font-size: 10px; }
