@import "../../../variables.scss";

.data__page {
  display: flex;
  height: calc(100vh - 69px);
}

.spaces {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #E8EAEE;
  width: 22vw;
  overflow-y: scroll;
}

.dataExplorer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 78vw;
  height: 100%;
  overflow-y: scroll;
}

.hideVault {
  display: none !important;
}

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: rgb(218, 225, 238);
  }
}

.space__name {
  color: #476997;
  padding-left: 40px;
}

.space__arrow {
  color: #476997;
  padding-right: 40px;
}

.data__header {
  width: 78vw;
  position: fixed;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f6f8;
  z-index: 2;
}

.data__space {
  width: 98%;
  min-height: 50px;
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data__space__context {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.data__space__info {
  width: 15px;
  filter: grayscale(100%);
  padding-right: 30px;
}

.data__space__loading {
  width: 26px;
  height: 26px;
  margin-left: 14px;
}

.data__categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $borderColor;
  min-height: 50px;
}

.data__items {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 101px;
}

.data__categories__title {
  padding: 0 2%;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  opacity: .6;
}

.data__items__row {
  border-bottom: 1px solid $borderColor;
  border-top: 1px solid $borderColor;
  margin-bottom: -1px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 0;
  height: fit-content;
  max-height: 100px;
  min-height: 30px;
  // overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  &:hover {
    background-color: rgb(218, 225, 238);
  }

  p, span {
    color:#4e4e4e;
  }
}

.data__text {
  max-width: 100%;
  overflow: hidden;
}

.data__items__row__unlockButton {
  padding: 10px 15px;
  background-color: #575757;
  border-color: #575757;
  font-weight: 400;
  font-size: 13px;
}

.data__items__row__entry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2%;
  height: fit-content;
  font-size: 13px;
  height: 100%;
}

.spaceRow__key {
  width: 28%;
  max-width: 28%;
}

.spaceRow__content {
  width: 24%;
  max-width: 24%;
}

.spaceRow__space {
  width: 12%;
  max-width: 12%;
}

.spaceRow__type {
  width: 12%;
  max-width: 12%;
}

.spaceRow__privacy {
  width: 8%;
  max-width: 8%;
}

.spaceRow__updated {
  width: 16%;
  max-width: 16%;
}

.type__tag {
  padding: 6px 9px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceRow__privacy__icon {
  width: 15px;
}

.spaceRow__tag__text {
  opacity: .6;
  color: black;
  font-size: 13px;
}

.row__type__vault {
  background-color: #575757;

  p {
    color: white;
    font-size: 13px;
  }
}

.List {
  background-color: #a1c7a1;
}

.Text {
  background-color: #8da3c3;
}

.Image {
  background-color: #ce94bf;
}

.Claim {
  background-color: #476997;
}

.activeSort {
  color: $threeBoxBlue;
  font-weight: 600;
  opacity: 1;

  p {
    color: $threeBoxBlue;
    margin-left: 6px;
    font-size: 10px;
  }
}