@import './variables.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8F8;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #E4E4E4;
  overflow: hidden;
  height: 68px;
}

button {
  // background-color: #006ECC;
  background-color: rgb(44, 33, 192);
  // background-color: rgb(252, 255, 81);
  border: none;
  border-radius: 2em;
  // border-radius: 5px;
  padding: 1em 2em;
  color: white;
  // color: #006ECC;
  // color: rgb(213, 229, 243);
  font-weight: 300;
  box-shadow: 0 6px 10px 0 #00000013, 0 8px 12px 0 #00000018;
}

button:hover {
  cursor: pointer;
}

li,
a,
p {
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  font-weight: 200;
}

li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #1B2733;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

ul {
  margin: 0;
}

.header {
  font-size: 1.1em;
  color: #a8a8a8;
  font-weight: 500;
}

.subheader {
  font-weight: 700;
  color: #a8a8a8;
  margin-bottom: 1vw;
}

.subtext {
  color: #a8a8a8;
}

#page_header {
  margin: 0 0 2vh 28vw;
}

.bold {
  font-weight: 700;
}

.grey {
  color: #a8a8a8;
}

.blue {
  color: #006ECC;
}

.light {
  color: #6b6b6b;
}

.white {
  color: white;
}

.lightOpacity {
  opacity: .6;
}

.thin{
  font-weight: 200;
}