@import './variables.scss';

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: $threeBoxBlack;
  background-color: $backgroundHue;
  // background-color: white;
  font-weight: 300;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

.App {
  min-height: 100%;
}

button {
  // background-color: #006ECC;
  background-color: $threeBoxBlue;
  // background-color: rgb(252, 255, 81);
  border: none;
  border-radius: 2em;
  padding: 1em 1.5em;
  color: white;
  transition: background-color .4s ease;
  // box-shadow: 0 6px 10px 0 #00000013, 0 8px 12px 0 #00000018;

  &:disabled {
    background: transparent;
    border: solid 1px #7a7a7a;
    color: #7a7a7a;
    box-shadow: none;
  }

  &:disabled:hover {
    background: transparent;
    border: solid 1px #7a7a7a;
    color: #7a7a7a;
    box-shadow: none;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $threeBoxBlueHover;
    transition: background-color .4s ease;
  }
}

.secondaryButton {
  background: transparent;
  border: solid 1px $threeBoxBlue;
  outline-offset: -1px;
  color: $threeBoxBlue;
  transition: background-color .8s ease;

  &:hover {
    color: white;
    background-color: $threeBoxBlue;
    border: solid 1px transparent;
    transition: background-color .8s ease;
  }
}

.tertiaryButton {
  background: transparent;
  border: solid 1px #7a7a7a;
  color: #7a7a7a;
  box-shadow: none;
  transition: background-color .8s ease;

  &:hover {
    color: white;
    background-color: #7a7a7a;
    border: solid 1px transparent;
    transition: background-color .8s ease;
  }
}

button:hover {
  cursor: pointer;
}

input,
textarea,
select,
li,
a,
p {
  color: $threeBoxBlack;
  font-weight: 300;
}

input,
textarea,
select,
button,
li,
a,
p {
  text-decoration: none;
  font-size: 14px;
  list-style: none;
}

li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  color: #1B2733;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

ul {
  margin: 0;
}

.header {
  font-size: 1.1em;
  color: #a8a8a8;
  font-weight: 500;
}

.subheader {
  color: #a8a8a8;
  margin-bottom: .5em;
}

.subtext {
  color: #a8a8a8;
}

#page_header {
  // margin: 0 0 2vh 28vw;
}

.bold {
  font-weight: 700;
}

.grey {
  color: #a8a8a8;
}

.blue {
  color: #006ECC;
}

.light {
  color: #6b6b6b;
}

.lighter {
  color: #9b9b9b;
}

.white {
  color: white;
}

.lightOpacity {
  opacity: .6;
}

.thin {
  font-weight: 300;
}