body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) div:focus,
body:not(.user-is-tabbing) span:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none; }

#root {
  height: 100%;
  width: 100%; }

.App {
  height: 100%;
  width: 100%; }

html {
  min-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #181F21;
  background-color: #f5f6f8;
  font-weight: 400;
  height: calc(100% - 69px);
  width: 100%; }

button {
  background-color: #181F21;
  border-radius: 3px;
  padding: 14px 20px;
  color: white;
  transition: background-color .4s ease;
  font-family: 'Lato', sans-serif;
  border: solid 2px #181F21;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: .77px; }
  button img {
    margin-left: 10px; }
  button:disabled {
    background: transparent;
    border: solid 1px #7a7a7a;
    color: #7a7a7a;
    box-shadow: none; }
  button:disabled:hover {
    background: transparent;
    border: solid 1px #7a7a7a;
    color: #7a7a7a;
    box-shadow: none;
    cursor: not-allowed; }
  button:hover {
    background-color: #2f383a;
    border-color: #2f383a; }

.primaryMarketing {
  font-size: 20px;
  letter-spacing: .77px;
  width: 235px;
  display: flex;
  justify-content: space-between;
  height: 62px;
  border: 3px solid #181F21;
  box-shadow: 0 3px 5px 0 #00000025, 0 4px 6px 0 #0000002f; }
  .primaryMarketing:hover {
    background-color: #2f383a;
    border-color: #2f383a; }

.secondary {
  background-color: transparent;
  color: #181F21;
  font-size: 20px;
  letter-spacing: .77px;
  width: 235px;
  display: flex;
  justify-content: space-between;
  height: 62px;
  border: 3px solid #181F21; }
  .secondary:hover {
    background-color: #f5f6f8; }

.secondaryBlue {
  background-color: transparent;
  color: #1168df;
  border-color: #1168df; }
  .secondaryBlue:hover {
    background-color: #f5f6f8; }

.blueButton {
  border-color: #1168df;
  color: #1168df; }
  .blueButton:hover {
    background-color: transparent;
    border-color: #1168df;
    color: #1168df; }

.clearButton {
  background-color: transparent;
  border-radius: 0;
  padding: 14px 20px;
  transition: background-color .4s ease;
  font-family: 'Lato', sans-serif;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .clearButton:hover {
    background-color: transparent;
    border: none; }

.textButton {
  background-color: transparent;
  border-radius: 5px;
  padding: 0;
  transition: background-color .4s ease;
  font-family: 'Lato', sans-serif;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1168df;
  font-size: 16px; }
  .textButton:hover {
    background-color: transparent;
    border: none; }

.secondaryButton {
  background: transparent;
  border: solid 1px #1168df;
  outline-offset: -1px;
  color: #1168df;
  transition: background-color .8s ease; }
  .secondaryButton:hover {
    color: white;
    background-color: #1168df;
    border: solid 1px transparent;
    transition: background-color .8s ease; }

.tertiaryButton {
  background-color: transparent;
  border: solid 1px #474747;
  color: #7a7a7a;
  box-shadow: none;
  transition: background-color .8s ease; }
  .tertiaryButton:hover {
    color: white;
    background-color: #474747;
    border: solid 1px transparent;
    transition: background-color .8s ease; }

.fourthButton {
  color: white;
  font-size: .8em;
  color: white;
  background: rgba(0, 0, 0, 0.404);
  padding: .8em 1.3em;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease; }

.unstyledButton {
  padding: 0;
  color: #1168df;
  background-color: transparent;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
  border: none; }
  .unstyledButton:hover {
    color: #0950b0;
    padding: 0;
    background-color: transparent;
    border: none; }

.outlineButton {
  background-color: transparent;
  border: solid 1px #7a7a7a;
  color: #7a7a7a;
  box-shadow: none; }
  .outlineButton:hover {
    border: solid 1px #7a7a7a;
    color: #7a7a7a;
    background-color: #eaeaea !important; }

button:hover {
  cursor: pointer; }

input,
textarea,
select,
li,
a,
p {
  color: #181F21;
  font-weight: 400; }

input,
textarea,
select,
button,
li,
a,
p {
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  line-height: 18px; }

button {
  font-weight: 800; }

textarea,
input,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  color: #181F21;
  margin: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800; }

ul {
  margin: 0; }

input:focus {
  border-radius: 5px; }

.mobile {
  display: none !important; }

.fixBody {
  position: fixed; }

.dALBps {
  position: fixed !important; }

.signInFromPublicProfileBanner {
  width: 100vw;
  height: 54px;
  background: #1168df;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .signInFromPublicProfileBanner .signInFromPublicProfileBanner__wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .signInFromPublicProfileBanner p {
    color: white;
    width: fit-content; }

.hideBanner.signInFromPublicProfileBanner {
  display: none; }

.hideBanner {
  top: -54px;
  background: white; }
  .hideBanner button {
    background-color: white; }

.webThreeBanner__close {
  cursor: pointer;
  position: absolute;
  right: 32px; }

.header {
  font-size: 1.1em;
  color: #a8a8a8;
  font-weight: 500; }

.subheader {
  color: #a8a8a8;
  margin-bottom: .5em; }

.subtext {
  color: #a8a8a8; }

.bold {
  font-weight: 700; }

.grey {
  color: #a8a8a8; }

.blue {
  color: #006ECC; }

.light {
  color: #6b6b6b; }

.lighter {
  color: #9b9b9b; }

.white {
  color: white; }

.lightOpacity {
  opacity: .6; }

.clearProfPic {
  background-color: white !important; }

.noTopMargin {
  margin-top: 0 !important; }

@media only screen and (max-width: 600px) {
  .signInFromPublicProfileBanner {
    height: 64px;
    width: 100vw;
    background: #1168df;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    .signInFromPublicProfileBanner p {
      color: white;
      width: 85%; }
    .signInFromPublicProfileBanner .signInFromPublicProfileBanner__wrapper {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .desktop {
    display: none !important; }
  .mobile {
    display: flex !important; }
  .webThreeBanner__close {
    position: relative;
    width: 5% !important;
    right: 0; }
  .kaYREe {
    margin-top: -90px !important; }
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px; } }
