$threeBoxBlue: #006ECC;
$threeBoxBlueHover: rgb(44, 136, 218);

$threeBoxBlueHue: rgb(251, 254, 255);

$threeBoxAccentBlue: #021333;
$threeBoxAccentBlueHover: #254277;

$threeBoxBlack: rgb(1, 12, 22);

$lightFont: #6b6b6b;
$lighterFont: rgb(177, 177, 177);

$borderColor: #E4E4E4;

$backgroundGrey: rgb(248, 248, 248);
// $backgroundGrey: #fbfbfb;
$backgroundHue: rgb(245, 246, 248);

$defaultProfPic: linear-gradient(#d3d3d3, #eeeeee);
// $defaultProfPic: #d3d3d3;