// Brand Colors
$threeBoxBlue: #006ECC;
$threeBoxBlueHover: rgb(44, 136, 218);
$threeBoxBlueDeep: #004AA8;
$threeBoxBlueDeeper: #00357D;
$threeBoxBlueLight: #CBDBEE;

$threeBoxAccentBlue: #021333;
$threeBoxAccentBlueHover: #254277;

// Brand Blue Hues
$threeBoxBlueShade: #C5D7F2;
$threeBoxBlueHue: rgb(251, 254, 255);
$threeBoxBlueHueSecondary: #EDEEEF;

$backgroundGrey: rgb(248, 248, 248);
// $backgroundGrey: #fbfbfb;
$backgroundHue: rgb(245, 246, 248);

$threeBoxRed: #E78888;
$threeBoxGreen: rgb(103, 204, 125);

// Font Colors

$lightFont: #6b6b6b;
$lighterFont: #747677;
$faintFont: #b8b8b8;
$lightBlueFont: rgb(79, 117, 153);
// $lighterFont: rgb(177, 177, 177);

$threeBoxBlack: rgb(1, 12, 22);

//UI Colors

$borderColor: #E4E4E4;

$feedTileGrey: rgb(249, 249, 249);

$defaultProfPic:#006ECC;
// $defaultProfPic: linear-gradient(#d3d3d3, #eeeeee);
// $defaultProfPic: #d3d3d3;

$boxShadow: 0px 4px 10px 4px #00000025,
0 16px 24px 0 #0000002f;